{% extends "NavAdmin.html" %} {% load static %} {% block admin_content %}

{% if txt %}
<script>
  swal("{{txt}}", "บันทึกข้อมูลสำเร็จ", "success");
</script>
{%endif%}



<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

                <h3 style="text-align: start; padding: 1%;">แก้ไขข้อมูลลูกค้า</h3>
                <hr>

                <br><br>
                <center>
                <div style="width:100%;max-width:1000px">
               

                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Username</th>
                            <th scope="col">Fullname</th>
                            <th scope="col">Email</th>
                            <th scope="col">Type User</th>
                            <th scope="col">ลบข้อมูล</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for user in user_list %}
                            {% if user.user_id.is_superuser == False %}
                          <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{user.user_id.username}}</td>
                            <td>{{user.user_id.first_name}} {{ user.user_id.last_name }}</td>
                            <td>{{user.user_id.email}}</td>
                            
                            {% if user.Typeuser_id_id == 1 %}
                            <td>เจ้าของฟาร์ม</td>
                            {% endif %}
                            {% if user.Typeuser_id_id == 2 %}
                            <td>ผู้ซื้อออนไลน์</td>
                            {% endif %}   

                            <td><a data-bs-toggle="modal" data-bs-target="#dropUser-{{user.user_id.id}}" class="btn btn-danger">ลบข้อมูล</a></td>
                          </tr>
                          {% endif %}
                          {% endfor %}
                        </tbody>
                      </table>

                </div>    
                </center>
            <br><br><br><br><br><br>

  </div>
  


<!-- Modal -->
{% for user in user_list %}
<div class="modal fade" id="dropUser-{{user.user_id.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">ลบผู้ใช้</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        คุณแน่ใจหรือไม่ว่าต้องการลบผู้ใช้นี้
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
        
        <a type="button" class="btn btn-danger" href="{% url 'delete_customer' id=user.user_id.id %}">ยืนยัน</a>
        
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}