{% extends "NavAdmin.html" %} {% load static %} {% block admin_content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

<style>
  

    #box1 {
      background-color: aquamarine;
      border-color: white; 
      border-width: 1px; 
      border-style: solid;
      border-radius: 30px;
      margin: 1%;
    }

    #box2 {
      background-color: pink;
      border-color: white; 
      border-width: 1px; 
      border-style: solid;
      border-radius: 30px;
      margin: 1%;
    }

    #box3 {
      background-color: #a78bfa;
      border-color: white; 
      border-width: 1px; 
      border-style: solid;
      border-radius: 30px;
      margin: 1%;
    }

    #box4 {
      background-color: #fdba74;
      border-color: white; 
      border-width: 1px; 
      border-style: solid;
      border-radius: 30px;
      margin: 1%;
    }

    #count{
      background-color: white;
      border-radius: 30px;
      padding: 5%;
    }
     
    .img-resp{
      width: 40px;
      height:40px;
    }

    .card1{
      background-color: #a78bfa5e;
    }
    .card2{
      background-color: #8bfaa75e;
    }
    .card3{
      background-color: #f8fa8b5e;
    }
    .card4{
      background-color: #fa8b8b5e;
    }

    .bold{
      background-color: black;
      color: white;
      border-radius: 30px;
      padding: 4%;
      width: 60%;
      max-width: 80%;
    }

    @media only screen and (max-width: 900px) {
      .headtxt{
        font-size: 15px;
      }
      .img-resp{
        width: 30px;
        height: 30px;
      }
    }
    @media only screen and (max-width: 500px) {
      .headtxt{
        font-size: 20px;
      }
      .img-resp{
        width: 50px;
        height: 50px;
      }
    }
    </style>

  
                <h3 style="text-align: start; padding: 1%;">DASHBOARD</h3>
                <hr>
                <br>
                <p style="text-align: start;">
                  <i class="bi bi-calendar-day"></i>
                  ข้อมูล ณ วันที่ {% now "jS F Y H:i" %}</p>

                <div class="row">

                <div id="box1" class="col-sm">
                <br>
                <img src="{% static "icon/farm.png" %}" style="width: 60px; height: 60px;"> </img>
                <h4 style="text-align: center; padding: 10%;">ร้านค้า</h4>
                <span id="count">{{count_store}} รายการ</span>
                <br><br>
                </div>

                <div id="box2" class="col-sm">
                <br>
                <img src="{% static "icon/product.png" %}" style="width: 60px; height: 60px;"></img> 
                <h4 style="text-align: center; padding: 10%;">สินค้า</h4>
                <span id="count">{{count_product}} รายการ</span>
                <br><br>
                </div>

                <div id="box3" class="col-sm">
                <br>
                <img src="{% static "icon/order.png" %}" style="width: 60px; height: 60px;"></img>
                <h4 style="text-align: center; padding: 10%;">การสั่งซื้อ</h4>
                <span id="count">{{count_order}} รายการ</span>
                <br><br>
                </div>

                <div id="box4" class="col-sm">
                <br>
                <img src="{% static "icon/user.png" %}" style="width: 60px; height: 60px;"></img>
                <h4 style="text-align: center; padding: 10%;">ผู้ใช้</h4>
                <span id="count">{{count_user}} รายการ</span>
                <br><br>
                </div>

                </div>

     
                <center>

              
                  <div class="d-flex row justify-content-center">
                      <div class="shadow card1 mt-4 mt-sm-1 col-12 col-sm m-1 m-lg-4 p-3" style="border-radius: 15px; border-color: #334155; border-width: 1rm; border-style: solid;width:100%;max-width:700px;">
                      <img class="mb-2 img-resp" src="{% static "icon/day.png" %}"></img>
                      <h5 class="headtxt mb-3">ยอดขายวันนี้</h5>
                      <h4 class="bold"><b>{{profit_day}}</b></h4>
                      </div>

                      <div class="shadow card2 col-12 col-sm m-1 m-lg-4 p-3" style="border-radius: 15px; border-color: #334155; border-width: 1rm; border-style: solid;width:100%;max-width:700px;">
                        <img class="mb-2 img-resp" src="{% static "icon/week.png" %}"></img>
                        <h5 class="headtxt mb-3">ยอดขายสัปดาห์นี้</h5>
                        <h4 class="bold"><b>{{profit_week}}</b></h4>
                        </div>

                      <div class="shadow card3 col-12 col-sm m-1 m-lg-4 p-3" style="border-radius: 15px; border-color: #334155; border-width: 1rm; border-style: solid;width:100%;max-width:700px;">
                        <img class="mb-2 img-resp" src="{% static "icon/month.png" %}"></img>
                        <h5 class="headtxt mb-3">ยอดขายเดือนนี้</h5>
                        <h4 class="bold"><b>{{profit_month}}</b></h4>
                      </div>

                      <div class="shadow card4 col-12 col-sm m-1 m-lg-4 p-3" style="border-radius: 15px; border-color: #334155; border-width: 1rm; border-style: solid;width:100%;max-width:700px;">
                        <img class="mb-2 img-resp" src="{% static "icon/year.png" %}"></img>
                        <h5 class="headtxt mb-3">ยอดขายปีนี้</h5>
                        <h4 class="bold"><b>{{profit_year}}</b></h4>
                      </div>

                  </div> 
                  <br><br>

                      <div class="col-sm p-3" style="border-color: #334155; border-width: 1rm; border-style: solid;width:90%;">
                      <canvas id="product_quality" style="width:100%;"></canvas>
                      </div>
                
             
               </center>
            <br><br><br>
        
    

  
  <script>
    var price = {{price|safe}};
    var product_name = {{product_name|safe}};
    var q = {{q|safe}}
    var v = {{v|safe}}
    var count_product_amont = {{count_product_amont|safe}}
    var max_pd = {{max_pd|safe}}
    new Chart("price_name", {
    type: "line",
    data: {
        labels: product_name,
        datasets: [{
        fill: false,
        lineTension: 0,
        backgroundColor: "rgba(0,0,255,1.0)",
        borderColor: "rgba(0,0,255,0.1)",
        data: price
        }]
    },
    options: {
        legend: {display: false},
        scales: {
        yAxes: [{ticks: {min: 0, max:max_pd}}],
        },
            title: {
              display: true,
              text: "กราฟราคาเมล่อน"
            }
    }
    });


    var barColors = ["#7c3aed", "#2563eb","#22d3ee"];

    new Chart("product_quality", {
    type: "bar",
    data: {
        labels: q,
        datasets: [{
        backgroundColor: barColors,
        data: v
        }]
    },
    options: {
      legend: {display: false},
      title: {
            display: true,
            text: "คุณภาพทั้งหมดของเมล่อนในเว็บไซต์ที่คงเหลือ"
            },
      scales: {
      yAxes: [{ticks: {min: 0, max: count_product_amont}}],
        },
    }
    });



  </script>

{% endblock %}