{% extends "NavAdmin.html" %} {% load static %} {% block admin_content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

<style>
  

    #box1 {
      background-color: aquamarine;
      border-color: white; 
      border-width: 1px; 
      border-style: solid;
      border-radius: 30px;
      margin: 1%;
    }

    #box2 {
      background-color: pink;
      border-color: white; 
      border-width: 1px; 
      border-style: solid;
      border-radius: 30px;
      margin: 1%;
    }

    #box3 {
      background-color: #a78bfa;
      border-color: white; 
      border-width: 1px; 
      border-style: solid;
      border-radius: 30px;
      margin: 1%;
    }

    #box4 {
      background-color: #fdba74;
      border-color: white; 
      border-width: 1px; 
      border-style: solid;
      border-radius: 30px;
      margin: 1%;
    }

    #count{
      background-color: white;
      border-radius: 30px;
      padding: 5%;
    }

    </style>

  
                <h3 style="text-align: start; padding: 1%;">DASHBOARD</h3>
                <hr>
                <br>
                <p style="text-align: start;">
                  <i class="bi bi-calendar-day"></i>
                  ข้อมูล ณ วันที่ {% now "jS F Y H:i" %}</p>

                <div class="row">

                <div id="box1" class="col-sm">
                <br>
                <img src="{% static "icon/farm.png" %}" style="width: 60px; height: 60px;"> </img>
                <h4 style="text-align: center; padding: 10%;">ร้านค้า</h4>
                <span id="count">{{count_store}} รายการ</span>
                <br><br>
                </div>

                <div id="box2" class="col-sm">
                <br>
                <img src="{% static "icon/product.png" %}" style="width: 60px; height: 60px;"></img> 
                <h4 style="text-align: center; padding: 10%;">สินค้า</h4>
                <span id="count">{{count_product}} รายการ</span>
                <br><br>
                </div>

                <div id="box3" class="col-sm">
                <br>
                <img src="{% static "icon/order.png" %}" style="width: 60px; height: 60px;"></img>
                <h4 style="text-align: center; padding: 10%;">การสั่งซื้อ</h4>
                <span id="count">{{count_order}} รายการ</span>
                <br><br>
                </div>

                <div id="box4" class="col-sm">
                <br>
                <img src="{% static "icon/user.png" %}" style="width: 60px; height: 60px;"></img>
                <h4 style="text-align: center; padding: 10%;">ผู้ใช้</h4>
                <span id="count">{{count_user}} รายการ</span>
                <br><br>
                </div>

                </div>

                <br><br>
                <center>

              
                  <div class="d-flex">
                      <div class="col-sm m-5" style="border-color: #334155; border-width: 1rm; border-style: solid;width:100%;max-width:700px;">
                      {{profit}}
                      </div>
                      <br>
                      <div class="col-sm" style="border-color: #334155; border-width: 1rm; border-style: solid;width:100%;max-width:700px;">
                      <canvas id="product_quality" style="width:100%;"></canvas>
                      </div> 
                  </div> 
    
                
             
               </center>
            <br><br><br>
        
    

  
  <script>
    var price = {{price|safe}};
    var product_name = {{product_name|safe}};
    var q = {{q|safe}}
    var v = {{v|safe}}
    var count_product_amont = {{count_product_amont|safe}}
    var max_pd = {{max_pd|safe}}
    new Chart("price_name", {
    type: "line",
    data: {
        labels: product_name,
        datasets: [{
        fill: false,
        lineTension: 0,
        backgroundColor: "rgba(0,0,255,1.0)",
        borderColor: "rgba(0,0,255,0.1)",
        data: price
        }]
    },
    options: {
        legend: {display: false},
        scales: {
        yAxes: [{ticks: {min: 0, max:max_pd}}],
        },
            title: {
              display: true,
              text: "กราฟราคาเมล่อน"
            }
    }
    });


    var barColors = ["#7c3aed", "#2563eb","#22d3ee"];

    new Chart("product_quality", {
    type: "bar",
    data: {
        labels: q,
        datasets: [{
        backgroundColor: barColors,
        data: v
        }]
    },
    options: {
      legend: {display: false},
      title: {
            display: true,
            text: "คุณภาพทั้งหมดของเมล่อนในเว็บไซต์ที่คงเหลือ"
            },
      scales: {
      yAxes: [{ticks: {min: 0, max: count_product_amont}}],
        },
    }
    });



  </script>

{% endblock %}