{% extends "TopnavUser.html" %} {% load static %} {% block content %}

{% if msg %}
<script>
  swal("{{msg}}", "บันทึกข้อมูลสำเร็จ", "success");
</script>
{%endif%}

{% if successfulFarm %}
<script>
  swal("{{successfulFarm}}", "บันทึกข้อมูลสำเร็จ", "success");
</script>
{%endif%}

{% if text_promote %}
<script>
  swal("{{text_promote}}", "บันทึกข้อมูลสำเร็จ", "success");
</script>
{%endif%}

{% if text_close %}
<script>
  swal("{{text_close}}", "บันทึกข้อมูลสำเร็จ", "success");
</script>
{%endif%}

{% if error_img %}
<script>
swal("มีข้อผิดพลาดในการสั่งซื้อ", "{{error_img}}", "error");
</script>
{%endif%}


{% if order_complete_1 %}
<script>
  swal("{{order_complete_1}}", "{{order_complete_2}}", "success");
</script>
{%endif%}



<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static "img/SlideImg/img2.jpg" %}" class="d-block w-100">
      <div class="carousel-caption d-none d-md-block">
        <h5>Tracking Melon</h5>
        <p>เมล่อนคุณภาพ ส่งตรงจากฟาร์ม</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static "img/SlideImg/img1.jpg" %}" class="d-block w-100">
      <div class="carousel-caption d-none d-md-block">
        <h5>Tracking Melon</h5>
        <p>เมล่อนคุณภาพ ส่งตรงจากฟาร์ม</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static "img/SlideImg/img3.jpg" %}" class="d-block w-100">
      <div class="carousel-caption d-none d-md-block">
        <h5>Tracking Melon</h5>
        <p>เมล่อนคุณภาพ ส่งตรงจากฟาร์ม</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- container1 -->
<div class="bg-white mt-5 w-75 container px-lg-5 px-md-3" style="border-radius: 40px;" >
  <div class="d-flex flex-wrap p-4 justify-content-center">
    <h1 style="color: #005e14;" class="align-items-center"><b>เมล่อนขายดี</b></h1>
    <img class="mx-3" src="{% static "icon/reward.png" %}" width="50px" height="50px">
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-lg-4 col-sm-6 py-3 mb-4">
      <div class="shadow bg-white p-4" style="border-radius: 40px;">
        <div class="pb-0 px-6">
          <img class="rounded" src="{% static "img/kimoji2.jpg" %}" width="150px" alt="Product" />
          <div class="py-2 head" style="color: #007e1b;">เมล่อนคิโมจิ</div>
          <ul class="ps-md-4" style="list-style: none; padding-left: 0px; text-align: left;">
            <li>
              <i class="fas fa-check pe-2" style="color: #00a023;"></i>
              <span>
                <span class="text-110">เนื้อเขียว</span>
            </span>
              </li>
            <li>
              <i class="fas fa-check pe-2" style="color: #00a023;"></i>
              <span>
                <span class="text-110">ลายชัดเจน นูนหนา</span>
            </span>
          </li>
            <li>
              <i class="fas fa-check pe-2" style="color: #00a023;"></i>
              <span>
                <span class="text-110">นิยมแกะลาย</span>
            </span>
          </li>
            <li>
              <i class="fas fa-check pe-2" style="color: #00a023;"></i>
              <span>
                <span class="text-110">เนื้อกึ่งนุ่มกึ่งกรอบ</span>
            </span>
          </li>
            <li>
              <i class="fas fa-check pe-2" style="color: #00a023;"></i>
              <span>
                <span class="text-110">น้ำหนัก 1.4 - 1.6 kg</span>
            </span>
          </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 py-3">
      <div class="shadow bg-white p-4" style="border-radius: 40px;">
        <div class="pb-5 px-6">
          <img class="rounded" src="{% static "img/macchita.jpg" %}" width="150px" alt="Product" />
          <div class="py-2 head" style="color: #007e1b;">เมล่อนมาชิตะ</div>
          <ul class="ps-4" style="list-style: none; padding-left: 0px; text-align: left;">
            <li>
              <i class="fas fa-check pe-2" style="color: #00a023;"></i>
              <span>
                <span class="text-110">เนื้อส้ม</span>
            </span>
          </li>
            <li>
              <i class="fas fa-check pe-2" style="color: #00a023;"></i>
              <span>
                <span class="text-110">เนื้อฉ่ำ หวานหอม</span>
            </span>             
            </li>
            <li>
              <i class="fas fa-check pe-2" style="color: #00a023;"></i>
              <span>
                <span class="text-110">น้ำหนัก 1.5 - 2.0 kg</span>
            </span>
              </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 py-3">
      <div class="shadow bg-white p-4" style="border-radius: 40px;">
        <div class="pb-4 px-6">
          <img class="rounded" src="{% static "img/momiji.jpg" %}" height="112px" alt="Product" />
          <div class="py-2 head" style="color: #007e1b;">เมล่อนโมมิจิ</div>
          <ul class="ps-4" style="list-style: none; padding-left: 0px; text-align: left;">
            <li>
              <i class="fas fa-check pe-2" style="color: #00a023;"></i>
              <span>
                <span class="text-110">เนื้อส้ม</span>
            </span>
          </li>
            <li>
              <i class="fas fa-check pe-2" style="color: #00a023;"></i>
              <span>
                <span class="text-110">ลายชัดเจน นูนหนา</span>
            </span>
          </li>
            <li>
              <i class="fas fa-check pe-2" style="color: #00a023;"></i>
              <span>
                <span class="text-110">เนื้อฉ่ำ หวานหอม</span>
            </span>
          </li>
            <li><i class="fas fa-check pe-2" style="color: #00a023;"></i>
              <span>
                <span class="text-110">น้ำหนัก 1.6 - 2.0 kg</span>
            </span>
          </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- container2 -->
<div class="mt-5 w-75 container" style="border-radius: 40px;" >
  <div class="row mt-5 m-xl-5 p-xl-5 m-md-2 p-md-2 m-xs-0 p-xs-0">
    <div class="col-lg-6 col-md-6 py-3 mb-4 d-flex">
      <div class="d-flex ms-xl-5 ms-xs-0">
          <img src="{% static "icon/melonicon.png" %}" alt="" width="100px">
          <div class="ps-4" style="text-align: left; color: #005e14;">
            <h2><b>เมล่อน</b></h2>
            <h5>เมล่อนคุณภาพ สดใหม่</h5>
          </div>
      </div>
  </div>

    <div class="col-lg-6 col-md-6 py-3 mb-4 d-flex">
      <div class="d-flex ms-xl-5 ms-xs-0">
        <img src="{% static "icon/melonicon2.png" %}" alt="" width="100px">
        <div class="ps-4" style="text-align: left; color: #005e14;">
          <h2><b>แกะสลัก</b></h2>
          <h5>สั่งแกะลายเมล่อน</h5>
        </div>
    </div>
    </div>
    
    <div class="col-lg-6 col-md-6 py-3 mb-4 d-flex">
      <div class="d-flex ms-xl-5 ms-xs-0">
        <img src="{% static "icon/boxmain.png" %}" alt="" width="100px">
        <div class="ps-4" style="text-align: left; color: #005e14;">
          <h2><b>ติดตาม</b></h2>
          <h5>ติดตามคุณภาพ ปลอดภัย</h5>
        </div>
    </div>
  </div>

    <div class="col-lg-6 col-md-6 py-3 mb-4 d-flex">
      <div class="d-flex ms-xl-5 ms-xs-0">
        <img src="{% static "icon/shopping.png" %}" alt="" width="100px">
        <div class="ps-4" style="text-align: left; color: #005e14;">
          <h2><b>สะดวก</b></h2>
          <h5>สั่งได้ ไม่ต้องออกตามหา</h5>
        </div>
    </div>
  </div>
  </div>
</div>

<!-- container3 -->
<div class="bg-white shadow mt-5 w-75 container px-lg-5 px-md-2" style="border-radius: 40px;" >
  <div class="d-flex flex-wrap p-4 justify-content-center">
    <h1 style="color: #005e14;" class="align-items-center"><b>ขั้นตอนสั่งซื้อ</b></h1>
    <img class="mx-3" src="{% static "icon/tap.png" %}" width="50px" height="50px">
  </div>
  <div>
    <div class="row d-flex justify-content-around mx-5">
      <div class="col-xl-3 col-md-6 py-3 mb-4" style="text-align: center;">
        <img class="mx-3 my-3" src="{% static "icon/chooseicon.png" %}" width="100px" height="100px">
        <h5 style="color: #005e14;"><b>เลือกสินค้า</b></h5>
      </div>
      <div class="col-xl-3 col-md-6 py-3 mb-4">
        <img class="mx-3 my-3" src="{% static "icon/input.png" %}" width="100px" height="100px">
        <h5 style="color: #005e14;"><b>กรอกข้อมูลและยืนยัน</b></h5>
      </div>
      <div class="col-xl-3 col-md-6 py-3 mb-4">
        <img class="mx-3 my-3" src="{% static "icon/payment2.png" %}" width="100px" height="100px">
        <h5 style="color: #005e14;"><b>ชำระเงิน</b></h5>
      </div>
      <div class="col-xl-3 col-md-6 py-3 mb-4">
        <img class="mx-3 my-3" src="{% static "icon/boxes1.png" %}" width="100px" height="100px">
        <h5 style="color: #005e14;"><b>รอรับได้เลย</b></h5>
      </div>
    </div>
  </div>
</div>

<!-- container4 -->
<!-- <div class="bg-white mt-5 w-75 container px-lg-5 px-md-2" style="border-radius: 40px;" >
  <div class="d-flex flex-wrap p-4 justify-content-center">
    <h1 style="color: #005e14;" class="align-items-center"><b>บทความน่าสนใจ</b></h1>
    <img class="mx-3" src="{% static "icon/article.png" %}" width="50px" height="50px">
  </div>
  <div>
    <div class="row d-flex justify-content-around gap-2">
      <div class="bg-white shadow col-xl-6 py-3 mb-4" style="border-radius: 40px;" max-width="200px">
        <img class="mx-3 my-3" src="{% static "img/article1.jpg" %}" width="auto" height="200px">
        <p style="color: #005e14;"><b>มารู้จักเรื่องราวและประโยชน์<br>ของเจ้าเมล่อนญี่ปุ่นกัน</b></p>
      </div>
      <div class="bg-white shadow col-xl-6 py-3 mb-4" style="border-radius: 40px;" max-width="200px">
        <img class="mx-3 my-3" src="{% static "img/article2.jpg" %}" width="auto" height="200px">
        <p style="color: #005e14;"><b>8 ประโยชน์ของเมล่อน <br>ที่มีมากกว่าความอร่อย</b></p>
      </div>
    </div>
  </div>
</div> -->



<div class="container mb-5">
<div class="d-flex flex-wrap p-4 mt-5 justify-content-center">
  <h1 style="color: #005e14;" class="align-items-center"><b>บทความน่าสนใจ</b></h1>
  <img class="mx-3" src="{% static "icon/article.png" %}" width="50px" height="50px">
</div>
<div class="carousel w-75 row" data-flickity='{ "autoPlay": 2500, "pauseAutoPlayOnHover": false }'>
    <div class="col d-flex flex-wrap carousel-cell bg-white d-flex justify-content-center justify-content-md-around align-items-center" style="border-radius: 40px;">
      <img class="mx-3" src="{% static "img/article1.jpg" %}" width="250px">
      <h3 style="color: #005e14;"><b>มารู้จักเรื่องราวและประโยชน์<br>ของเจ้าเมล่อนญี่ปุ่นกัน</b></h3>
  </div>
  <div class="col d-flex flex-wrap carousel-cell bg-white d-flex justify-content-center justify-content-md-around align-items-center" style="border-radius: 40px;">
    <img class="mx-3" src="{% static "img/article2.jpg" %}" width="250px">
    <h3 style="color: #005e14;"><b>8 ประโยชน์<br>ของเมล่อน</b></h3>
</div>
</div>
</div>

<!-- test -->

<!-- test -->

<footer class="footer" style="background-color: #e5e5e5;">
  <div class="container">
    <br />
    <div class="row">
      <div class="col">
        <span>
          <p>
            Tracking-Melon | KMITL <br />
            ระบบให้บริการจองซื้อเมล่อนตามคำสั่งซื้อ และเฝ้าติดตามคุณภาพของเมล่อน
          </p></span
        >
      </div>
      <div class="col">
        <span>
          <p>
            Contact <br/>
            090-725-5141<br/>
            091-030-1148
          </p></span
        >
      </div>
      <div class="col">
        <span>
          <p>
            Links Github<br/>
            <a href="https://github.com/pickapp112" style="color: black"
              >K.Ploy</a
            >
            <br />
            <a href="https://github.com/MsrdMai" style="color: black"
              >K.Mai</a
            >
          </p></span
        >
      </div>
  </div>
</div>
</footer>
{% endblock %}