{% extends "TopnavUser.html" %} {% load static %} {% block content %}

{% if msg %}
<script>
  swal("{{msg}}", "บันทึกข้อมูลสำเร็จ", "success");
</script>
{%endif%}

{% if successfulFarm %}
<script>
  swal("{{successfulFarm}}", "บันทึกข้อมูลสำเร็จ", "success");
</script>
{%endif%}

<div id="carouselCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="0" class="
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static "img/SlideImg/img2.jpg" %}" class="d-block w-100">
      <div class="carousel-caption d-none d-md-block">
        <h5>Tracking Melon</h5>
        <p>เมล่อนคุณภาพ ส่งตรงจากฟาร์ม</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static "img/SlideImg/img1.jpg" %}" class="d-block w-100">
      <div class="carousel-caption d-none d-md-block">
        <h5>Tracking Melon</h5>
        <p>เมล่อนคุณภาพ ส่งตรงจากฟาร์ม</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static "img/SlideImg/img3.jpg" %}" class="d-block w-100">
      <div class="carousel-caption d-none d-md-block">
        <h5>Tracking Melon</h5>
        <p>เมล่อนคุณภาพ ส่งตรงจากฟาร์ม</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container bg-white rounded mt-5 w-75">
  <div class="d-flex flex-wrap p-4 justify-content-center">
    <h1 style="color: #005e14;" class="align-items-center"><b>เมล่อนขายดี</b></h1>
    <img class="mx-3" src="{% static "icon/reward.png" %}" width="50px" alt="...">
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-lg-4 col-sm-6 col-xl-3 py-3">
      <div class="card shadow bg-white rounded">
        <div class="card-body pb-2 px-6">
          <img class="rounded" src="{% static "img/kimoji.jpg" %}" width="150px" alt="Product" />
          <div class="py-2 head">เมล่อนคิโมจิ</div>
          <ul class="list-group">
            <li>An active item</li>
            <li>A second item</li>
            <li>A third item</li>
            <li>A fourth item</li>
            <li>And a fifth one</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-xl-3 py-3">
      <div class="card shadow bg-white rounded">
        <div class="card-body pb-2 px-6">
          <img class="rounded" src="{% static "img/kimoji.jpg" %}" width="150px" alt="Product" />
          <div class="py-2 head">เมล่อนมาชิตะ</div>
          <ul class="list-group">
            <li>An active item</li>
            <li>A second item</li>
            <li>A third item</li>
            <li>A fourth item</li>
            <li>And a fifth one</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-xl-3 py-3">
      <div class="card shadow bg-white rounded">
        <div class="card-body pb-2 px-6">
          <img class="rounded" src="{% static "img/kimoji.jpg" %}" width="150px" alt="Product" />
          <div class="py-2 head">เมล่อนมิโมจิ</div>
          <ul class="list-group">
            <li>An active item</li>
            <li>A second item</li>
            <li>A third item</li>
            <li>A fourth item</li>
            <li>And a fifth one</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<section>
  <div>
    <h2>Simple CSS check list</h2>
    <ul class="check-list">
      <li>Head</li>
      <li>Shoulders</li>
      <li>Knees</li>
      <li>Toes</li>
    </ul>
  </div>
</section>




{% endblock %}