{% extends "TopnavUser.html" %} {% load static %}{% load socialaccount %}{% providers_media_js %} {% block content %}
<br/>
<div class="container">

     
      
      <center>
      <div id="loginform" class="col-sm-5" 
      style="
      display: flex;
      padding: 5%;
      padding-left: 8%;
      padding-right: 4%;
      background-color: white;
      border-radius: 10%;
      margin: 10px;">
      
        <form  class="form-info" method="POST" action="{% url 'login_page' %}">
            {% csrf_token %}

            <h1><b>Sign In</b></h1>
            <br/>
            
            <div class="mb-3">
              <label for="Username" class="form-label float-start">Username</label>
              <input type="text" class="form-control " name="username" >
            </div>
            <div class="mb-3">
              <label for="Password1" class="form-label float-start">Password</label>
              <input type="password" name="password" class="form-control" >
            </div>
            {% if error %}
            <div class="invalid-feedback d-block">{{error}}</div>
            <br/>
            {% endif %}

    
    
            <div class="d-grid gap-2">
            <button type="submit" class="btn my-2 my-sm-0 btn-lg btn-block" style="background-color: #34D399;color: white;">เข้าสู่ระบบ</button>
          </form>
        
          <br/> <br/>
        <a class="btn btn-light my-2 my-sm-0 btn-lg btn-block" href="{% provider_login_url 'google'%}" style="border-style: solid;border-color: black; background-color:white;">
            <img src="{% static "icon/google.png" %}" width="30px" height="auto"  class="float-start"/>
            Sign in With Google</a>

        <a class="btn btn-light my-2 my-sm-0 btn-lg btn-block" href="{% provider_login_url 'facebook' %}" 
        style="border-style: solid;border-color: black; background-color: 	#4267B2; color: white;">
              <img src="{% static "icon/facebook.png" %}" width="30px" height="auto"  class="float-start"/>
              Sign in With Facebook</a>
  
            <br>  
          </div>  
          <br>  <br>  <br>    <br>  <br>  <br>    <br>  <br>  <br>  
        </center>
       </div>
        {% endblock %}
    