{% extends "TopnavUser.html" %} {% load static %} {% block content %}
<style>
    * {
        box-sizing: border-box
    }

    /* Set height of body and the document to 100% */
    /* body,
    html {
        height: 100%;
        margin: 0;
        font-family: Arial;
    } */

    /* Style tab links */
    .tablink {
        background-color: rgb(175, 224, 161);
        color: rgb(27, 116, 0);
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 17px;
        width: 25%;
    }

    .tablink:hover {
        background-color: rgb(149, 192, 137);
        color:  rgb(27, 116, 0);
    }

    /* Style the tab content (and add height:100% for full page content) */
    .tabcontent {
        color: rgb(27, 116, 0);
        display: none;
        padding: 140px 40px;
        height: 100vh;
        border-bottom: 2px;
    }

    p{
        margin: 0%;
    }

    #payment, #waiting, #shipped, #review{
        background-color: whitesmoke;
    }

    /* #waiting {
        background-color: green;
    }

    #shipped {
        background-color: green;
    }

    #review {
        background-color: green;
    } */
    .producttext{
        text-align: left;
    }
    .pricetext{
        font-size: 50px; 
        margin-top: 20px; 
        color: red;
    }
    .txtresp{
        font-size: 15px;
    }

    @media only screen and (max-width: 768px) {
        .tablink {
            font-size: 10px;
            padding: 8px;
        }
        .tabcontent{
            padding: 80px 40px; 
        }
        .statusimg{
            width: 25px;
        }
        p{
            margin: 0%;
        }
        .date, .txtresp{
            font-size: 10px;
        }
        .productimg{
            width: 100px;
            height: 100px;
        }
        .pricetext{
            margin-top: 0px;
            font-size:30px;
        }
        .producttext{
            text-align: right;
        }
    }


    .button4 {
        background-color: #4CAF50;
        color: white;
        border: 2px solid #4CAF50;
    }
    .button3 {
        background-color: #81a546;
        color: white;
        border: 2px solid #81a546;
    }

    .button2 {
        background-color: white; 
        color: black; 
        border: 2px solid #4CAF50;
    }
    .button2:hover {
        background-color: #4CAF50;
        color: white;
    }
    .button1 {
        background-color: white; 
        color: black; 
        border: 2px solid #f44336;
        }

    .button1:hover {
        background-color: #f44336;
        color: white;
    }
</style>
</head>

<body>

    <div class="container">
        <div class="border border-1">
        <button class="tablink" onclick="openPage('payment', this, 'rgb(149, 192, 137)')" id="defaultOpen">
            <img class="statusimg pb-2" src="{% static "icon/wallet.png" %}" width="50px" />
            <p><b>ที่ต้องชำระ</b></p>
        </button>
        <button class="tablink" onclick="openPage('waiting', this, 'rgb(149, 192, 137)')">
            <img class="statusimg pb-2" src="{% static "icon/boxship.png" %}" width="50px" />
            <p><b>ที่ต้องจัดส่ง</b></p>
        </button>
        <button class="tablink" onclick="openPage('shipped', this, 'rgb(149, 192, 137)')">
            <img class="statusimg pb-2" src="{% static "icon/delivery.png" %}" width="50px" />
            <p><b>ที่ต้องได้รับ</b></p>
        </button>
        <button class="tablink" onclick="openPage('review', this, 'rgb(149, 192, 137)')">
            <img class="statusimg pb-2" src="{% static "icon/star.png" %}" width="50px" />
            <p><b>ให้คะแนน</b></p>
        </button>
        </div>


        <div id="payment" class="tabcontent">
            <div class="row shadow rounded border border-2 py-2 mb-4 px-2" style="background-color: white;">
                <br>
                <div class="d-flex justify-content-between flex-wrap date">
                <div class="border border-3 ms-2 pt-sm-0 pt-1 ms-sm-4 px-4 border-success"><p><b>สั่งจอง</b></p></div>
                <p class="date ps-4 d-flex"><b>ชำระภายใน 15/02/65</b></p>
            </div>
                    <div class="col d-flex justify-content-md-start justify-content-between">
                            <img class="rounded productimg" src="{% static "img/kimoji.jpg" %}" height="150px" width="150px" style="object-fit: scale-down;" alt="Product" />
                            <h3 class="producttext ps-4" style="margin-top: 20px;"><b>คิโมจิ</b><br/>x1</h3>
                    </div>
                    <div class="col-md-6 d-flex flex-column">
                        <!-- <p class="ps-4 d-flex justify-content-end pt-1"><b>ชำระภายใน 15/02/65</b></p> -->
                        <h3 class="ps-4 d-flex justify-content-end align-items-end pricetext"><b>300 ฿</b></h3>
                        <div class="d-flex flex-wrap justify-content-end mt-1">
                            <button type="button" class="button1 mx-1" style="margin-right: 0px;" data-bs-toggle="modal" data-bs-target="#cancelform">
                                <h3 class="mx-3" style="margin-top: 0.5rem; font-size: 15px;"><b>แจ้งยกเลิก</b></h3>
                            </button>
                            <button type="button" class="button2 mx-1" data-bs-toggle="modal" data-bs-target="#paymentform">
                                <h3 class="mx-2" style="margin-top: 0.5rem; font-size: 15px;"><b>แจ้งชำระเงิน</b></h3>
                            </button>
                        </div>
                    </div>
            </div>
        </div>

        <div id="waiting" class="tabcontent">
            <div class="row shadow rounded border border-2 py-2 mb-4 px-2" style="background-color: white;">
                <br>
                <div class="d-flex justify-content-between flex-wrap date">
                <div class="border border-3 ms-2 pt-sm-0 pt-1 ms-sm-4 px-4 border-success"><p><b>สั่งจอง</b></p></div>
                <p class="date ps-4 d-flex"><b>จัดส่งวันที่ 20/02/65</b></p>
            </div>
                    <div class="col d-flex justify-content-md-start justify-content-between">
                            <img class="rounded productimg" src="{% static "img/kimoji.jpg" %}" height="150px" width="150px" style="object-fit: scale-down;" alt="Product" />
                            <h3 class="producttext ps-4" style="margin-top: 20px;"><b>คิโมจิ</b><br/>x1</h3>
                    </div>
                    <div class="col-md-6 d-flex flex-column flex-grow-1">
                        <h3 class="ps-4 d-flex justify-content-end align-items-end pricetext"><b>300 ฿</b></h3>
                        <div class="d-flex flex-wrap justify-content-end mt-1">
                            <button type="button" class="button1 mx-1" style="margin-right: 0px;" data-bs-toggle="modal" data-bs-target="#cancelform">
                                <h3 class="mx-3 mb-2 txtresp" style="margin-top: 0.5rem;"><b>แจ้งยกเลิก/คืนเงิน</b></h3>
                            </button>
                            <button type="button" class="button2 mx-1" data-bs-toggle="modal" data-bs-target="#track">
                                <h3 class="mx-2 txtresp" style="margin-top: 0.5rem;"><b>ติดตามผลผลิต</b></h3>
                            </button>
                        </div>
                    </div>
            </div>
        </div>

        <div id="shipped" class="tabcontent">
            <div class="row shadow rounded border border-2 py-2 mb-4 px-2" style="background-color: white;">
                <br>
                <div class="d-flex justify-content-between flex-wrap date">
                <div class="border border-3 ms-2 pt-sm-0 pt-1 ms-sm-4 px-4 border-success"><p><b>สั่งจอง</b></p></div>
                <p class="date ps-4 d-flex"><b>จะถึงภายในวันที่ 27/02/65</b></p>
            </div>
                    <div class="col d-flex justify-content-md-start justify-content-between">
                            <img class="rounded productimg" src="{% static "img/kimoji.jpg" %}" height="150px" width="150px" style="object-fit: scale-down;" alt="Product" />
                            <h3 class="producttext ps-4" style="margin-top: 20px;"><b>คิโมจิ</b><br/>x1</h3>
                    </div>
                    <div class="col-md-6 d-flex flex-column">
                        <h3 class="ps-4 d-flex justify-content-end align-items-end pricetext"><b>300 ฿</b></h3>
                        <div class="d-flex justify-content-end mt-1">
                            <h3 class="mx-3 txtresp" style="margin-top: 0.5rem;"><b>เลขพัสดุ</b></h3>
                            <button type="button" class="button3 mx-1" style="margin-right: 0px;">
                                <h3 class="mx-3 txtresp" style="margin-top: 0.5rem;"><b>ABC12345678TH</b></h3>
                            </button>
                        </div>
                        <div class="mt-2 d-flex justify-content-end">
                            <button type="button" class="button1 mx-1 px-3" data-bs-toggle="modal" data-bs-target="#track">
                                <h3 class="mx-2 txtresp" style="margin-top: 0.5rem;"><b>ยืนยันการรับสินค้า</b></h3>
                            </button>
                        </div>
                    </div>
            </div>
        </div>

        <div id="review" class="tabcontent">
            <br><h3>ให้คะแนน</h3>
            <p>Who we are and what we do.</p>
        </div>
    </div>

   

<div class="modal fade" id="paymentform" tabindex="-1" aria-labelledby="paymentformlabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="paymentformlabel">แจ้งชำระเงิน</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="modal-body row g-3" style="text-align: left;">
        <div class="col-md-6">
          <label for="inputname" class="form-label">ชื่อ</label>
          <input type="text" class="form-control mb-2" id="inputname">
          <label for="inputtel" class="form-label">โทรศัพท์</label>
          <input type="text" class="form-control" id="inputAddress">
        </div>
        <div class="col-md-6">
          <label rows="1" for="inputadd" class="form-label">ที่อยู่</label>
          <textarea class="form-control form-control-lg" id="message-text"></textarea>
        </div>
        <div class="col-12">
            <label for="inputState" class="form-label">ธนาคาร</label>
            <select id="inputState" class="form-select">
              <option selected value="0">เลือกธนาคาร</option>
              <option value="พร้อมเพย์">พร้อมเพย์</option>
              <option value="ธ.ธนาคารเพื่อการเกษตรและสหกรณ์การเกษตร">ธ.ธนาคารเพื่อการเกษตรและสหกรณ์การเกษตร</option>
              <option value="ธ.ธนาคารออมสิน">ธ.ธนาคารออมสิน</option>
              <option value="ธ.กรุงศรีอยุธยา จำกัด (มหาชน)">ธ.กรุงศรีอยุธยา จำกัด (มหาชน)</option>
              <option value="ธ.กรุงเทพ จำกัด (มหาชน)">ธ.กรุงเทพ จำกัด (มหาชน)</option>
              <option value="ธ.กรุงไทย จำกัด (มหาชน)">ธ.กรุงไทย จำกัด (มหาชน)</option>
              <option value="ธ.กสิกรไทย จำกัด (มหาชน)">ธ.กสิกรไทย จำกัด (มหาชน)</option>
              <option value="ธ.เกียรตินาคิน จำกัด (มหาชน)">ธ.เกียรตินาคิน จำกัด (มหาชน)</option>
              <option value="ธ.ซีไอเอ็มบี ไทย จำกัด (มหาชน)">ธ.ซีไอเอ็มบี ไทย จำกัด (มหาชน)</option>
              <option value="ธ.ทหารไทยธนชาต จำกัด (มหาชน)">ธ.ทหารไทยธนชาต จำกัด (มหาชน)</option>
              <option value="ธ.ทิสโก้ จำกัด (มหาชน)">ธ.ทิสโก้ จำกัด (มหาชน)</option>
              <option value="ธ.ไทยพาณิชย์ จำกัด (มหาชน)">ธ.ไทยพาณิชย์ จำกัด (มหาชน)</option>
              <option value="ธ.ยูโอบี จำกัด (มหาชน)">ธ.ยูโอบี จำกัด (มหาชน)</option>
              <option value="ธ.ไอซีบีซี (ไทย) จำกัด (มหาชน)">ธ.ไอซีบีซี (ไทย) จำกัด (มหาชน)</option>
            </select>
          </div>
        <div class="col-md-6">
          <label for="inputdate" class="form-label float-start">วันที่ชำระ</label>
          <input type="date" class="form-control" id="inputdate">
        </div>
        <div class="col-md-6">
          <label for="inputbank" class="form-label float-start">เวลาที่ชำระ</label>
          <input type="time" class="form-control" id="inputbank">
        </div>
        <div class="col-md-12">
            <label for="inputState" class="form-label">หลักฐานการชำระ</label>
            <input class="form-control" type="file" id="formFile">
        </div>
      </form>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
        <button type="button" class="btn btn-success">ยืนยัน</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="cancelform" tabindex="-1" aria-labelledby="cancelformlabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="cancelformlabel">แจ้งยกเลิก</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body row g-3">
            <p>เหตุผลที่ต้องการยกเลิก</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
          <button type="button" class="btn btn-danger">ยืนยัน</button>
        </div>
      </div>
    </div>
  </div>

    <script>
        function openPage(pageName, elmnt, color) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].style.backgroundColor = "";
            }
            document.getElementById(pageName).style.display = "block";
            elmnt.style.backgroundColor = color;
        }

        document.getElementById("defaultOpen").click();
    </script>

</body>
{% endblock %}