{% extends "TopnavUser.html" %} {% load static %} {% block content %}
<style>
    * {
        box-sizing: border-box
    }

    /* Set height of body and the document to 100% */
    /* body,
    html {
        height: 100%;
        margin: 0;
        font-family: Arial;
    } */

    /* Style tab links */
    .tablink {
        background-color: rgb(175, 224, 161);
        color: rgb(27, 116, 0);
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 17px;
        width: 25%;
    }

    .tablink:hover {
        background-color: rgb(149, 192, 137);
        color:  rgb(27, 116, 0);
    }

    /* Style the tab content (and add height:100% for full page content) */
    .tabcontent {
        color: rgb(27, 116, 0);
        display: none;
        padding: 140px 40px;
        height: 100vh;
        border-bottom: 2px;
    }

    p{
        margin: 0%;
    }

    #payment, #waiting, #shipped, #review{
        background-color: whitesmoke;
    }

    /* #waiting {
        background-color: green;
    }

    #shipped {
        background-color: green;
    }

    #review {
        background-color: green;
    } */

    @media only screen and (max-width: 600px) {
        .tablink {
            font-size: 10px;
            padding: 8px;
        }
        .statusimg{
            width: 25px;
        }
        p{
            margin: 0%;
        }
    }
</style>
</head>

<body>

    <div class="container">
        <div class="border border-1">
        <button class="tablink" onclick="openPage('payment', this, 'rgb(149, 192, 137)')">
            <img class="statusimg pb-2" src="{% static "icon/wallet.png" %}" width="50px" />
            <p><b>ที่ต้องชำระ</b></p>
        </button>
        <button class="tablink" onclick="openPage('waiting', this, 'rgb(149, 192, 137)')" id="defaultOpen">
            <img class="statusimg pb-2" src="{% static "icon/boxship.png" %}" width="50px" />
            <p><b>ที่ต้องจัดส่ง</b></p>
        </button>
        <button class="tablink" onclick="openPage('shipped', this, 'rgb(149, 192, 137)')">
            <img class="statusimg pb-2" src="{% static "icon/delivery.png" %}" width="50px" />
            <p><b>ที่ต้องได้รับ</b></p>
        </button>
        <button class="tablink" onclick="openPage('review', this, 'rgb(149, 192, 137)')">
            <img class="statusimg pb-2" src="{% static "icon/star.png" %}" width="50px" />
            <p><b>ให้คะแนน</b></p>
        </button>
        </div>


        <div id="payment" class="tabcontent">
            <div class="row shadow rounded border border-2 py-2 mb-2 px-2">
                <br>
                    <div class="col">
                        <div class="d-flex">
                            <img class="rounded" src="{% static "img/kimoji.jpg" %}" height="150px" width="150px" style="object-fit: scale-down;" alt="Product" />
                            <h3 class="ps-4" style="margin-top: 20px; text-align: left;"><b>คิโมจิ<br/>x1</b></h3>
                        </div>
                    </div>
                    <div class="col d-flex flex-column">
                        <p class="ps-4 d-flex justify-content-end pt-1"><b>ชำระภายใน 15/02/65</b></p>
                        <h3 class="ps-4 d-flex justify-content-end" style="font-size: 50px; margin-top: 20px; color: red;"><b>300 ฿</b></h3>
                    </div>
        </div>
        </div>

        <div id="waiting" class="tabcontent">
            <br><h3>ที่ต้องจัดส่ง</h3>
            <p>Some news this fine day!</p>
        </div>

        <div id="shipped" class="tabcontent">
            <br><h3>ที่ต้องได้รับ</h3>
            <p>Get in touch, or swing by for a cup of coffee.</p>
        </div>

        <div id="review" class="tabcontent">
            <br><h3>ให้คะแนน</h3>
            <p>Who we are and what we do.</p>
        </div>
    </div>
    <script>
        function openPage(pageName, elmnt, color) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].style.backgroundColor = "";
            }
            document.getElementById(pageName).style.display = "block";
            elmnt.style.backgroundColor = color;
        }

        document.getElementById("defaultOpen").click();
    </script>

</body>
{% endblock %}