{% extends "TopnavUser.html" %} {% load static %} {% block content %}
    <br />
    <br />
    <div class="container w-75 d-flex flex-wrap mb-2">
        <div class="text">สินค้าทั้งหมด</div>
        <img class="mx-3" src="{% static "icon/765556.png" %}" width="50px" alt="">
   </div>
   
    <section class="section1 w-75 px-2 bg-light rounded mt-1" id="cards">
        <div class="container card-styles">
            <div class="row">
                {% for pd in product_list %}
                <div class="col-lg-4 col-sm-6 col-xl-3 py-3">
                    <div class="card shadow bg-white rounded">
                        <div class="card-body pb-2 px-6" >
                            <img class="rounded" src="{{pd.product_image.url}}" width="150px"  alt="Product" />
                            <div class="py-2 head">{{pd.product_name}}</div>
                            <div class="d-flex justify-content-between align-content-center">
                                <div class="card-text pb-2 price">{{pd.product_price}} บาท</div>
                                <div class="card-text quant">{{pd.product_amount}} ชิ้น</div>
                            </div>
                            <div href="#" class="btn btn-danger mb-2 mt-2 w-100">สั่งซื้อ</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
               
            </div>
        </div>
    </section><br>
    {% endblock %}