{% extends "TopnavUser.html" %} {% load static %} {% block content %}
<br><br>

<style>


#logo-farm {
    width: 400px; 
    height: 300px; 
    align-items: center; 
    padding: 1%; 
    position: absolute; 
    border-radius: 100%; 
    top:400px;
    
}
#img-farm{
    width: 100%; 
    height: 500px; 
    align-items: center; 
    padding: 1%;

   
    backface-visibility: hidden;
    opacity: 1;
    transition: .5s ease;

}
.opacity-img:hover #img-farm  {
  opacity: 0.3;
}
.opacity-img:hover .middle {
  opacity: 1;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  /* background-color: #facc15; */
  color: rgb(31, 128, 31);
  font-size: 16px;
  /* padding: 16px 32px; */
}
form {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}

.value-button {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  padding: 11px 0;
  margin-top: -2px;
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.value-button:hover {
  cursor: pointer;
}

form #decrease {
  margin-right: -5px;
  border-radius: 8px 0 0 8px;
}

form #increase {
  margin-left: -6px;
  border-radius: 0 8px 8px 0;
}

form #input-wrap {
  margin: 0px;
  padding: 0px;
}

input#number {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
</style>

<div class="container w-75">
<div  style="background-color: white; ">

<!-- <div class="opacity-img">
<img
src="{{data_product.store_id.store_logo.url}}" id="logo-farm" class="img-farm"></img>
<img
src="{{data_product.store_id.store_img.url}}" id="img-farm"></img>
<div class="middle">
    <a class="text" href="{% url 'farm-detail' id=data_product.store_id.id %}">
       เยี่ยมชม {{data_product.store_id.store_name}}
    </a>
  </div>
</div> -->
<div class="row" style="margin: 2%;">
    <div class="col-lg-1"></div>
    <div class="col-lg-4 mt-3 mt-sm-5">
      <img
      src="{{data_product.product_image.url}}"
      style="width: 100%; height: auto; align-items: center; padding: 1%;"
      ></img>
      
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-5 col-12">
      <br></br>
      <div class="row">
        <div class="col d-flex">
          <h3 style="color: brown; font-weight: 800;">
            {{data_product.product_name}}
          </h3>
        </div>
        <div class="py-2 d-flex justify-content-between" style="background-color: #f3f4f6;">
          <a class="text" style="font-weight: 600;" href="{% url 'farm-detail' id=data_product.store_id.id %}">
            ร้าน{{data_product.store_id.store_name}}
         </a>
         <a class="text" href="{% url 'farm-detail' id=data_product.store_id.id %}">
          ดูร้านค้า
       </a>
        </div>


        {% if data_product.type_id_id == 2  %}
                {% if data_product.select_carving == 0 %}
                <div class="col">
                    <h5 style="color:#ea580c; align-items:center; border-width:4px; border-color: #ea580c; border-style: solid; padding: 1%;">
                    จอง
                    </h5>
                </div>
                {% endif %}

            {% if data_product.select_carving == 1 %}
                <div class="col">
                <h5 style="color:#166534; align-items:center; border-width:4px; border-color: #166534; border-style: solid; padding: 1%;">
                    แกะสลัก
                </h5>
                </div>
            {% endif %}

        {% endif %}



      </div>
      <div class="col mt-3 mb-0">
        <p style="color:#1f2937; text-align: left; margin-bottom: 0px;">
          รายละเอียดสินค้า
        </p><hr>
        <!-- <p style="color:#1f2937; text-align: left; margin-bottom: 0px;">
          {{data_product.product_description}}
        </p> -->
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">
         <br>
          <p style="color:#1f2937; text-align: left;">ขนาด :  {{data_product.product_weight}} kg</p>
          <p style="color:#1f2937; text-align: left;">เนื้อ : {{data_product.melon_color}}</p>


          {% if data_product.type_id_id == 2 and data_product.select_carving == 1 %}
          <p style="color:#1f2937; text-align: left;">
            ราคาค่าบริการแกะลาย : {{data_product.cost_carving}}
          </p>
          {% endif %}


        </div>
        <div class="col">
          <br>
          <p style="color:#1f2937; text-align: left;">
            คุณภาพ : {{data_product.quality_id.quality_name}}
          </p>
          <p style="color:#1f2937; text-align: left;">
            รอบตัด : {{data_product.date_harvest}}
          </p>
          <p style="color:#1f2937; text-align: left;">
            วันหมดอายุ : {{data_product.date_expire}}
          </p>
        </div>
        </div>
        <hr>
        <div class="col mt-3 mb-0">
          <p style="color:#1f2937; text-align: left; margin-bottom: 0px;">
            {{data_product.product_description}}
          </p>
        </div>
        <hr>

<!-- 
      {% if user.is_authenticated %} 
      {% for group in  request.user.groups.all %}
      {% if group.name == 'Customer' %}
      
      <div class="col" style="background-color: #f3f4f6; padding: 5%;">
         <p style="color:#1f2937; text-align: end;">
        ราคา : {{data_product.product_price}} ฿
      </p>
      <div class="col-sm">
        <form class="mb-4 pt-1">
          <div class="value-button pt-2" id="decrease" onclick="decreaseValue()" value="Decrease Value">-</div>
          <input type="number" id="number" value="1" min="1" max={{data_product.product_amount}} />
          <div class="value-button pt-2" id="increase" onclick="increaseValue()" value="Increase Value">+</div>
          <input type="submit">
        </form>
      </div>
      
      <p style="color:#1f2937; text-align: end;">
        คลัง : {{data_product.product_amount}} -->
      <!-- </p> -->
    
      <!-- <p style="color:#1f2937; text-align: end;">
        ค่าส่ง : <span class="ship_price" data-price="{{data_product.shipping_cost}}">{{data_product.shipping_cost}}</span> ฿
      </p>
      <p style="color:#b90000; font-size: 30px; text-align: end;">
        รวม : <span class="product-total-price" data-price="{{data_product.product_price}}">{{data_product.product_price}}</span> ฿ 
      </p> -->
      <div href="#" class="btn btn-danger btns mt-2 w-100 mb-4" data-bs-toggle="modal"
      data-bs-target="#Modal-{{data_product.id}}">สั่งซื้อ</div>
      </div>

      <!-- {% endif %}
      {% endfor %}
      {% endif %} -->


    </div>
    <div class="col-lg-1"></div>

  </div>
  <br>
 
  <small class="float-end" style="padding: 1%;">สร้างเมื่อวันที่ : {{data_product.date_create}}</small>
  <br>
  <br>
</div>
</div>
<br><br> <br><br>

<!-- modal -->
  <div class="modal fade" id="Modal-{{data_product.id}}" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
              <div class="modal-header border-bottom-0 pb-0">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body pt-0">
                  <h2 class="d-flex justify-content-center" style="color: rgb(0, 107, 0);">
                      <b> {{data_product.product_name}}</b>
                  </h2>
                  <div class="row">
                      <div class="col-lg-6 d-flex justify-content-center">
                          <img src="{{data_product.product_image.url}}"
                          height="150px" width="150px" style="align-items: center; padding: 1%; object-fit: scale-down;"></img>
                      </div>
                      <div class="col-lg-6 mt-1 d-flex justify-content-sm-start justify-content-center">
                          <div class="row d-flex justify-content-end" style="margin-top: 1rem;">
                              <div class="col px-5">
                                <h1 style="color:rgb(218, 0, 0); text-align: right; margin-bottom: 0px;"><b>฿ {{data_product.product_price}}</b></h1> 
                            </div>
                              <p class="px-5 pt-1" style="color:rgb(0, 107, 0); text-align: right; margin-bottom: 12px;">
                                <b>คลัง :</b> {{data_product.product_amount}}
                            </p>
                            <div>
                            <form class="mb-4 pt-1" style="text-align: right;">
                              <div class="value-button pt-2" id="decrease" onclick="decreaseValue()" value="Decrease Value">-</div>
                              <input type="number" id="number" value="1" min="1" max={{data_product.product_amount}} />
                              <div class="value-button pt-2" id="increase" onclick="increaseValue()" value="Increase Value">+</div>
                            </form>
                          </div>
                      </div>
                      </div>
                      
                  </div>
              </div>
              <div class="modal-footer border-top-0 justify-content-center">
                  <a href="#" class="btn btn-danger btns w-100">
                      <h3 style="margin-top: 0.5rem;"><b>สั่งซื้อ</b></h3>
                  </a>
              </div>
          </div>
      </div>
  </div>
<!-- modal -->

<script>
  function increaseValue() {
  var value = parseInt(document.getElementById('number').value, 10);
  value = isNaN(value) ? 0 : value;
  // value > 6 ? value = 6 : '';
  value++;
  document.getElementById('number').value = value;
  pricetotal();
}

function decreaseValue() {
  var value = parseInt(document.getElementById('number').value, 10);
  value = isNaN(value) ? 0 : value;
  value < 1 ? value = 1 : '';
  value--;
  document.getElementById('number').value = value;
  pricetotal();
}

function pricetotal() {
  var totalPrice = document.querySelector('.product-total-price');
  var shipprice = document.querySelector('.ship_price');
  var price = totalPrice.dataset.price;
  var quantity = document.getElementById('number').value;
  var sum = (price * quantity);
  sum = Math.round(sum * 100) / 100;
  totalPrice.innerHTML = sum;
}
</script>







{% endblock %}