{% extends "TopnavUser.html" %} {% load static %} {% block content %}
    <br />
    <br />
    <div class="container w-75 d-flex flex-wrap mb-2"mt-2 >
        <div class="uk-navbar-left text">สินค้าทั้งหมด</div>
        <img class="mx-3" src="{% static "icon/765556.png" %}" width="50px" alt="">
   </div>
    <!-- <nav class="uk-navbar-container uk-margin top uk-width-2-3 rounded" uk-navbar>
        <div class="nav-overlay uk-navbar-left">
            <div class="uk-navbar-item uk-logo">Product List</div>
        </div>
        <div class="nav-overlay uk-navbar-right">
            <a class="uk-navbar-toggle" uk-search-icon uk-toggle="target: .nav-overlay; animation: uk-animation-fade"
                href="#"></a>
        </div>
        <div class="nav-overlay uk-navbar-left uk-flex-1" hidden>
            <div class="uk-navbar-item uk-width-expand">
                <form class="uk-search uk-search-navbar uk-width-1-1">
                    <input class="uk-search-input" type="search" placeholder="Search" autofocus>
                </form>
            </div>
            <a class="uk-navbar-toggle" uk-close uk-toggle="target: .nav-overlay; animation: uk-animation-fade"
                href="#"></a>
        </div>
    </nav> -->
    <section class="section1 w-75 px-2 bg-light rounded mt-1" id="cards">
        <div class="container card-styles">
            <div class="row ">
                <div class="col-lg-4 col-sm-6 col-xl-3 py-3">
                    <div class="card shadow bg-white rounded">
                        <div class="card-body pb-2 px-6" >
                            <img class="rounded fixsize d-inline-block" src="{% static "img/kimoji.jpg" %}" alt="Product" />
                            <div class="py-2 head">มาชิตะบรรจุกล่อง</div>
                            <div class="d-flex justify-content-between align-content-center">
                                <div class="card-text pb-2 price">250 บาท</div>
                                <div class="card-text quant">20 ชิ้น</div>
                            </div>
                            <div href="#" class="btn btn-danger mb-2 mt-2 w-100">สั่งซื้อ</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xl-3 py-3">
                    <div class="card shadow bg-white rounded">
                        <div class="card-body pb-2 px-6">
                            <img class="rounded fixsize d-inline-block" src="{% static "img/kimoji.jpg" %}" alt="Product" />
                            <div class="py-2 head">มาชิตะบรรจุกล่อง</div>
                            <div class="d-flex justify-content-between align-content-center">
                                <div class="card-text pb-2 price">250 บาท</div>
                                <div class="card-text quant">20 ชิ้น</div>
                            </div>
                            <div href="#" class="btn btn-danger mb-2 mt-2 w-100">สั่งซื้อ</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xl-3 py-3">
                    <div class="card shadow bg-white rounded">
                        <div class="card-body pb-2 px-6">
                            <img class="rounded fixsize d-inline-block" src="{% static "img/kimoji.jpg" %}" alt="Product" />
                            <div class="py-2 head">มาชิตะบรรจุกล่อง</div>
                            <div class="d-flex justify-content-between align-content-center">
                                <div class="card-text pb-2 price">250 บาท</div>
                                <div class="card-text quant">20 ชิ้น</div>
                            </div>
                            <div href="#" class="btn btn-danger mb-2 mt-2 w-100">สั่งซื้อ</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xl-3 py-3">
                    <div class="card shadow bg-white rounded">
                        <div class="card-body pb-2 px-6">
                            <img class="rounded fixsize d-inline-block" src="{% static "img/kimoji.jpg" %}" alt="Product" />
                            <div class="py-2 head">มาชิตะบรรจุกล่อง</div>
                            <div class="d-flex justify-content-between align-content-center">
                                <div class="card-text pb-2 price">250 บาท</div>
                                <div class="card-text quant">20 ชิ้น</div>
                            </div>
                            <div href="#" class="btn btn-danger mb-2 mt-2 w-100">สั่งซื้อ</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xl-3 py-3">
                    <div class="card shadow bg-white rounded">
                        <div class="card-body pb-2 px-6">
                            <img class="rounded fixsize d-inline-block" src="{% static "img/kimoji.jpg" %}" alt="Product" />
                            <div class="py-2 head">มาชิตะบรรจุกล่อง</div>
                            <div class="d-flex justify-content-between align-content-center">
                                <div class="card-text pb-2 price">250 บาท</div>
                                <div class="card-text quant">20 ชิ้น</div>
                            </div>
                            <div href="#" class="btn btn-danger mb-2 mt-2 w-100">สั่งซื้อ</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xl-3 py-3">
                    <div class="card shadow bg-white rounded">
                        <div class="card-body pb-2 px-6">
                            <img class="rounded fixsize d-inline-block" src="{% static "img/kimoji.jpg" %}" alt="Product" />
                            <div class="py-2 head">มาชิตะบรรจุกล่อง</div>
                            <div class="d-flex justify-content-between align-content-center">
                                <div class="card-text pb-2 price">250 บาท</div>
                                <div class="card-text quant">20 ชิ้น</div>
                            </div>
                            <div href="#" class="btn btn-danger mb-2 mt-2 w-100">สั่งซื้อ</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xl-3 py-3">
                    <div class="card shadow bg-white rounded">
                        <div class="card-body pb-2 px-6">
                            <img class="rounded fixsize d-inline-block" src="{% static "img/kimoji.jpg" %}" alt="Product" />
                            <div class="py-2 head">มาชิตะบรรจุกล่อง</div>
                            <div class="d-flex justify-content-between align-content-center">
                                <div class="card-text pb-2 price">250 บาท</div>
                                <div class="card-text quant">20 ชิ้น</div>
                            </div>
                            <div href="#" class="btn btn-danger mb-2 mt-2 w-100">สั่งซื้อ</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xl-3 py-3">
                    <div class="card shadow bg-white rounded">
                        <div class="card-body pb-2 px-6">
                            <img class="rounded fixsize d-inline-block" src="{% static "img/kimoji.jpg" %}" alt="Product" />
                            <div class="py-2 head">มาชิตะบรรจุกล่อง</div>
                            <div class="d-flex justify-content-between align-content-center">
                                <div class="card-text pb-2 price">250 บาท</div>
                                <div class="card-text quant">20 ชิ้น</div>
                            </div>
                            <div href="#" class="btn btn-danger mb-2 mt-2 w-100">สั่งซื้อ</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xl-3 py-3">
                    <div class="card shadow bg-white rounded">
                        <div class="card-body pb-2 px-6">
                            <img class="rounded fixsize d-inline-block" src="{% static "img/kimoji.jpg" %}" alt="Product" />
                            <div class="py-2 head">มาชิตะบรรจุกล่อง</div>
                            <div class="d-flex justify-content-between align-content-center">
                                <div class="card-text pb-2 price">250 บาท</div>
                                <div class="card-text quant">20 ชิ้น</div>
                            </div>
                            <div href="#" class="btn btn-danger mb-2 mt-2 w-100">สั่งซื้อ</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xl-3 py-3">
                    <div class="card shadow bg-white rounded">
                        <div class="card-body pb-2 px-6">
                            <img class="rounded fixsize d-inline-block" src="{% static "img/kimoji.jpg" %}" alt="Product" />
                            <div class="py-2 head">มาชิตะบรรจุกล่อง</div>
                            <div class="d-flex justify-content-between align-content-center">
                                <div class="card-text pb-2 price">250 บาท</div>
                                <div class="card-text quant">20 ชิ้น</div>
                            </div>
                            <div href="#" class="btn btn-danger mb-2 mt-2 w-100">สั่งซื้อ</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xl-3 py-3">
                    <div class="card shadow bg-white rounded">
                        <div class="card-body pb-2 px-6">
                            <img class="rounded fixsize d-inline-block" src="{% static "img/kimoji.jpg" %}" alt="Product" />
                            <div class="py-2 head">มาชิตะบรรจุกล่อง</div>
                            <div class="d-flex justify-content-between align-content-center">
                                <div class="card-text pb-2 price">250 บาท</div>
                                <div class="card-text quant">20 ชิ้น</div>
                            </div>
                            <div href="#" class="btn btn-danger mb-2 mt-2 w-100">สั่งซื้อ</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xl-3 py-3">
                    <div class="card shadow bg-white rounded">
                        <div class="card-body pb-2 px-6">
                            <img class="rounded fixsize d-inline-block" src="{% static "img/kimoji.jpg" %}" alt="Product" />
                            <div class="py-2 head">มาชิตะบรรจุกล่อง</div>
                            <div class="d-flex justify-content-between align-content-center">
                                <div class="card-text pb-2 price">250 บาท</div>
                                <div class="card-text quant">20 ชิ้น</div>
                            </div>
                            <div href="#" class="btn btn-danger mb-2 mt-2 w-100">สั่งซื้อ</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><br>
    {% endblock %}