{% extends "TopnavUser.html" %} {% load static %} {% block content %}
<br><br>

<style>


#logo-farm {
    width: 400px; 
    height: 300px; 
    align-items: center; 
    padding: 1%; 
    position: absolute; 
    border-radius: 100%; 
    top:400px;
    
}
#img-farm{
    width: 100%; 
    height: 500px; 
    align-items: center; 
    padding: 1%;

   
    backface-visibility: hidden;
    opacity: 1;
    transition: .5s ease;

}
.opacity-img:hover #img-farm  {
  opacity: 0.3;
}
.opacity-img:hover .middle {
  opacity: 1;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  /* background-color: #facc15; */
  color: rgb(31, 128, 31);
  font-size: 16px;
  /* padding: 16px 32px; */
}
form {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}

.value-button {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  padding: 11px 0;
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.value-button:hover {
  cursor: pointer;
}

form #decrease {
  margin-right: -4px;
  border-radius: 8px 0 0 8px;
}

form #increase {
  margin-left: -4px;
  border-radius: 0 8px 8px 0;
}

form #input-wrap {
  margin: 0px;
  padding: 0px;
}

input#number {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
</style>

<div class="container w-75">
<div  style="background-color: white; ">

<!-- <div class="opacity-img">
<img
src="{{data_product.store_id.store_logo.url}}" id="logo-farm" class="img-farm"></img>
<img
src="{{data_product.store_id.store_img.url}}" id="img-farm"></img>
<div class="middle">
    <a class="text" href="{% url 'farm-detail' id=data_product.store_id.id %}">
       เยี่ยมชม {{data_product.store_id.store_name}}
    </a>
  </div>
</div> -->
<div class="row" style="margin: 2%;">
    <div class="col-lg-1"></div>
    <div class="col-lg-4 mt-3 mt-sm-5">
      <img
      src="{{data_product.product_image.url}}"
      style="width: 100%; height: auto; align-items: center; padding: 1%;"
      ></img>
      
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-5 col-12">
      <br></br>
      <div class="row">
        <div class="col d-flex">
          <h3 style="color: brown; font-weight: 800;">
            {{data_product.product_name}}
          </h3>
        </div>
        <div class="py-2 d-flex justify-content-between" style="background-color: #f3f4f6;">
          <a class="text" style="font-weight: 600;" href="{% url 'farm-detail' id=data_product.store_id.id %}">
            ร้าน{{data_product.store_id.store_name}}
         </a>
         <a class="text" href="{% url 'farm-detail' id=data_product.store_id.id %}">
          ดูร้านค้า
       </a>
        </div>


        {% if data_product.type_id_id == 2  %}
                {% if data_product.select_carving == 0 %}
                <div class="col mt-1" style="padding-left: 0px;padding-right: 0px;">
                    <h5 style="color:#ea580c; align-items:center; border-width:4px; border-color: #ea580c; border-style: solid; padding: 1%;">
                    จอง
                    </h5>
                </div>
                {% endif %}

            {% if data_product.select_carving == 1 %}
                <div class="col mt-1" style="padding-left: 0px;padding-right: 0px;">
                <h5 style="color:#166534; align-items:center; border-width:4px; border-color: #166534; border-style: solid; padding: 1%;">
                    แกะสลัก
                </h5>
                </div>
            {% endif %}

        {% endif %}



      </div>
      <div class="col mt-3 mb-0">
        <p style="color:#1f2937; text-align: left; margin-bottom: 0px;">
          รายละเอียดสินค้า
        </p><hr>
        <!-- <p style="color:#1f2937; text-align: left; margin-bottom: 0px;">
          {{data_product.product_description}}
        </p> -->
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">
         <br>
          <p style="color:#1f2937; text-align: left;">ขนาด :  {{data_product.product_weight}} kg</p>
          <p style="color:#1f2937; text-align: left;">เนื้อ : {{data_product.melon_color}}</p>


          {% if data_product.type_id_id == 2 and data_product.select_carving == 1 %}
          <p style="color:#1f2937; text-align: left;">
            ราคาค่าบริการแกะลาย : {{data_product.cost_carving}}
          </p>
          {% endif %}


        </div>
        <div class="col">
          <br>
          <p style="color:#1f2937; text-align: left;">
            คุณภาพ : {{data_product.quality_id.quality_name}}
          </p>
          <p style="color:#1f2937; text-align: left;">
            รอบตัด : {{data_product.date_harvest}}
          </p>
          <p style="color:#1f2937; text-align: left;">
            วันหมดอายุ : {{data_product.date_expire}}
          </p>
        </div>
        </div>
        <hr>
        <div class="col mt-3 mb-0">
          <p style="color:#1f2937; text-align: left;">
            {{data_product.product_description}}
          </p>
        </div>
        <hr>

        <!-- <div class="col mt-1 d-flex justify-content-center"> -->
          <div class="row d-flex" style="margin-top: 1rem;">
              <div class="col px-2">
                <h2 style="color:rgb(218, 0, 0); text-align: right;"><b>฿ {{data_product.product_price}}</b></h2> 
            </div>
              <p class="px-2 pt-1 mb-4" style="color:rgb(218, 0, 0); text-align: right;">
                <b>คลัง :</b> {{data_product.product_amount}}
            </p>
            <div class="d-flex pt-1">
              <p style="color:rgb(0, 107, 0); text-align: left; margin-bottom: 12px;">
                <b>จำนวน</b>
            </p>

            <form class="p-0 d-flex justify-content-end">

              <!-- ลดน้อยสุดเท่ากับ 1 -->
              <div class="value-button" id="decrease" style="margin-bottom: 2px;" onclick="decreaseValue(this, 1)" value="Decrease Value">-</div>
              <input type="number" id="number" value="1" min="1" name="amount" form="confirmInput" readonly/>
              <!-- เพิ่มมากสุดเท่ากับ คงคลัง -->
              <div class="value-button" id="increase" style="margin-bottom: 2px;" onclick="increaseValue(this, {{data_product.product_amount}})" value="Increase Value">+</div>
            </form>
          </div>
          {% if data_product.type_id_id == 2 and data_product.select_carving == 1 %}
          <div class="mt-1">
            <p style="color:red; text-align: end; margin-bottom: 12px; font-size: 10px;">
              <b>*การสั่งจองแบบแกะลาย</br>สั่งได้ครั้งละ 1 ลูก</b>
          </p>
        </div>
          {% endif %} 
          <div class="d-flex px-2 pt-5 justify-content-between">
            <p style="color:rgb(0, 107, 0); text-align: left; margin-bottom: 12px;">
              <b>รวมการสั่งซื้อ</b>
          </p>
          <p style="color:rgb(0, 107, 0); text-align: left; margin-bottom: 12px;">
            <b><span class="product-subtotal-price" data-price="{{data_product.product_price}}">฿ {{data_product.product_price}}</span></b>
        </p>
        </div>
          <div class="d-flex px-2 pt-1 justify-content-between">
            <p style="color:rgb(0, 107, 0); text-align: left; margin-bottom: 12px;">
              <b>การจัดส่ง</b>
          </p>
          <p style="color:rgb(0, 107, 0); text-align: left; margin-bottom: 12px;">
            <b><span class="ship_price" data-price="{{data_product.shipping_cost}}">฿ {{data_product.shipping_cost}}</span></b>
        </p>
        </div>
        {% if data_product.type_id_id == 2 and data_product.select_carving == 1 %}
        <div class="d-flex px-2 pt-1 justify-content-between">
          <p style="color:rgb(0, 107, 0); text-align: left; margin-bottom: 12px;">
            <b>ราคาค่าบริการแกะลาย</b>
        </p>
        <p style="color:rgb(0, 107, 0); text-align: left; margin-bottom: 12px;">
          <b><span class="carving_price" data-price="{{data_product.cost_carving}}">฿ {{data_product.cost_carving}}</span></b>
      </p>
      </div>
      {% endif %}
        <div class="d-flex px-2 pt-1 justify-content-between">
          <p style="color:rgb(0, 107, 0); text-align: left; margin-bottom: 12px; font-size: 25px; font-weight: 900;">
            <b>รวมทั้งหมด</b>
        </p>
        <p style="color:rgb(0, 107, 0); text-align: left; margin-bottom: 12px; font-size: 25px; font-weight: 900;">
          <b><span class="product-total-price" data-price="{{data_product.product_price}}">฿ {{data_product.product_price}}</span></b>
      </p>
      </div>
      
      <div class="type_id" data-price="{{data_product.type_id_id}}" hidden>{{data_product.type_id_id}}</div>
      <div class="select_carv" id="select_carv" data-price="{{data_product.select_carving}}" hidden>{{data_product.select_carving}}</div>
      </div>
      <!-- </div> -->
<!-- 
      
      <div class="col" style="background-color: #f3f4f6; padding: 5%;">
         <p style="color:#1f2937; text-align: end;">
        ราคา : {{data_product.product_price}} ฿
      </p>
      <div class="col-sm">
        <form class="mb-4 pt-1">
          <div class="value-button pt-2" id="decrease" onclick="decreaseValue()" value="Decrease Value">-</div>
          <input type="number" id="number" value="1" min="1" max={{data_product.product_amount}} />
          <div class="value-button pt-2" id="increase" onclick="increaseValue()" value="Increase Value">+</div>
          <input type="submit">
        </form>
      </div>
      
      <p style="color:#1f2937; text-align: end;">
        คลัง : {{data_product.product_amount}} -->
      <!-- </p> -->
    
      <!-- <p style="color:#1f2937; text-align: end;">
        ค่าส่ง : <span class="ship_price" data-price="{{data_product.shipping_cost}}">{{data_product.shipping_cost}}</span> ฿
      </p>
      <p style="color:#b90000; font-size: 30px; text-align: end;">
        รวม : <span class="product-total-price" data-price="{{data_product.product_price}}">{{data_product.product_price}}</span> ฿ 
      </p> -->
      
      {% if user.is_authenticated %} 
      {% for group in  request.user.groups.all %}
      {% if group.name == 'Customer' %}

     
      <div href="#" class="btn btn-danger btns mt-2 w-100 mb-4"  data-bs-toggle="modal" data-bs-target="#confirmorder">
        สั่งซื้อ <i class="bi bi-cart-plus-fill"></i>
      </div>
      <br><br><br>

      </div>
      

      {% endif %}
      {% endfor %}
      {% endif %}


    </div>
    <div class="col-lg-1"></div>

  </div>
  <br>
 
  <small class="float-end" style="padding: 1%;">สร้างเมื่อวันที่ : {{data_product.date_create}}</small>
  <br>
  <br>
</div>
</div>
<br><br> <br><br>

<!-- ยืนยันการสั่งซื้อสินค้า -->
<div class="modal fade" id="confirmorder" aria-hidden="true" aria-labelledby="confirmorder" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmorder">ยืนยันการสั่งซื้อสินค้า</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form  method="POST" enctype="multipart/form-data" action="{% url 'order_product' id=data_product.id %}" id="confirmInput">
        {% csrf_token %}


      <div class="modal-body row g-3">
        <div class="d-flex flex-column">
          <label for="FormControlTextarea1" class="form-label" style="text-align: left;">ที่อยู่</label>
          <textarea class="form-control" maxlength="255" name="address" id="FormControlTextarea1" rows="3" required></textarea>
        </div>
        <div class="mb-2 d-flex flex-column">
          <label for="FormControlInput1" class="form-label" style="text-align: left;">เบอร์โทรศัพท์</label>
          <input type="tel" class="form-control" name="tel" id="FormControlInput1" required>
        </div>

        {% if data_product.type_id_id == 2 and data_product.select_carving == 1 %}

        <div class="d-flex flex-column">
          <label for="FormControlTextarea1" class="form-label" style="text-align: left;">ลายที่ต้องการแกะสลัก</label>
          <input type="text" name="carving_description" class="form-control w-100" id="Inputcarving" required>
        </div>
        <div class="mb-2 d-flex flex-column justify-content-center">
          <label for="FormControlTextarea1" class="form-label" style="text-align: left;">แนบรูปภาพ</label>
          <input type="file" class="form-control" name="carving_img" id="file2" accept="image/png, image/jpeg"
              onchange="loadFile(event)">
             
              <div class="mt-2 d-flex justify-content-center">
              <img id="output" class="mt-2" width="300px" height="200px"/>
            </div>
            <br> <br>
        </div>
        {% endif %}
      </div>
    
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
        <button type="submit" class="btn btn-danger">สั่งเลย</button>
      </div>
    </form>
    </div>
  
  </div>
</div>



<script>
  // showIMG
  var loadFile = function(event) {
	    var image = document.getElementById('output');
        document.getElementById('output').style.border = '2px solid #34D399';

	    image.src = URL.createObjectURL(event.target.files[0]);
        
        }
        
  // select_carving
  var type_id1 = document.querySelector('.type_id')
  var type_id2 = type_id1.dataset.price;
  
  var select_carv1 = document.querySelector('.select_carv');
  var select_carv2 = select_carv1.dataset.price;

  // alert(select_carv2);
  
  if (type_id2 == 2 && select_carv2 == 'True'){
    pricetotal_carv()
  }else{
    pricetotal()
  }
  
  if (type_id2 == 1 || select_carv2 == 'False') {
    function increaseValue(button, limit) {
    var value = parseInt(document.getElementById('number').value, 10);
    value = isNaN(value) ? 0 : value;
    if(limit && value >= limit) return;
    value++;
    document.getElementById('number').value = value;
    pricesubtotal()
    cost_ship()
    // if (type_id2 == 2 && select_carv2 == 'True'){
    //   pricetotal_carv()
    // }else{
    //   pricetotal()
    // }
    pricetotal()
  }
}

if (type_id2 == 1 || select_carv2 == 'False') {
  function decreaseValue(button) {
    var value = parseInt(document.getElementById('number').value, 10);
    value = isNaN(value) ? 0 : value;
    value < 1 ? value = 1 : '';
    if(value == 1) return;
    value--;
    document.getElementById('number').value = value;
    pricesubtotal()
    cost_ship()
    // if (type_id2 == 2 && select_carv2 == 'True'){
    //   pricetotal_carv()
    // }else{
    //   pricetotal()
    // }
    pricetotal()
  }
}

function pricesubtotal() {
  var subtotalPrice = document.querySelector('.product-subtotal-price');
  var price = subtotalPrice.dataset.price;
  var quantity = document.getElementById('number').value;
  var sum = (price * quantity) ;
  sum = Math.round(sum * 100) / 100;
  subtotalPrice.innerHTML = '฿ ' + sum;
}

function cost_ship() {
  var ship_cost = document.querySelector('.ship_price')
  var shipcost = ship_cost.dataset.price;
  var shipcost2 = parseInt(shipcost);
  var quantity = document.getElementById('number').value;
  var sum = (shipcost2 * quantity);
  sum = Math.round(sum * 100) / 100;
  ship_cost.innerHTML = '฿ ' + sum;
}

function pricetotal() {
  var totalPrice = document.querySelector('.product-total-price');
  var price = totalPrice.dataset.price;
  var ship_cost = document.querySelector('.ship_price')
  var shipcost = ship_cost.dataset.price;
  var shipcost2 = parseInt(shipcost);
  var quantity = document.getElementById('number').value;
  var sum = (price * quantity + (shipcost2 * quantity));
  sum = Math.round(sum * 100) / 100;
  totalPrice.innerHTML = '฿ ' + sum;
}

function pricetotal_carv() {
  var totalPrice = document.querySelector('.product-total-price');
  var price = totalPrice.dataset.price;
  var ship_cost = document.querySelector('.ship_price')
  var shipcost = ship_cost.dataset.price;
  var shipcost2 = parseInt(shipcost);
  var carving = document.querySelector('.carving_price')
  var carving2 = carving.dataset.price;
  var carving3 = parseInt(carving2);
  var quantity = document.getElementById('number').value;
  var sum = (price * quantity + (shipcost2 * quantity) + carving3);
  sum = Math.round(sum * 100) / 100;
  totalPrice.innerHTML = '฿ ' + sum;
}

//   function increaseValue(button, limit) {
//   const numberInput = button.parentElement.querySelector('.number');
//   var value = parseInt(numberInput.innerHTML, 10);
//   if(isNaN(value)) value = 0;
//   if(limit && value >= limit) return;
//   numberInput.innerHTML = value+1;
//   pricesubtotal()
// }


// function decreaseValue(button) {
//   const numberInput = button.parentElement.querySelector('.number');
//   var value = parseInt(numberInput.innerHTML, 10);
//   if(isNaN(value)) value = 0;  
//   if(value < 1) return;
//   numberInput.innerHTML = value-1;
//   pricesubtotal()
// }
 
//  function pricesubtotal() {
//    var  subtotalPrice = document.querySelector('.product-subtotal-price');
//  }




//   function increaseValue(limit) {
//   var value = parseInt(document.getElementById('number').value, 10);
//   value = isNaN(value) ? 0 : value;
//   // value > 6 ? value = 6 : '';
//   value++;
//   document.getElementById('number').value = value;
//   pricetotal();
// }

// function decreaseValue() {
//   var value = parseInt(document.getElementById('number').value, 10);
//   value = isNaN(value) ? 0 : value;
//   value < 1 ? value = 1 : '';
//   value--;
//   document.getElementById('number').value = value;
//   pricetotal();
// }



</script>







{% endblock %}