{% extends "TopnavUser.html" %} {% load static %} {% block content %}

<br><br>
<div class="container">

      <h1 style="color: #22c55e;"><b>ลงทะเบียนผู้ใช้งาน</b></h1>
      <h3 style="color: #fbbf24;"><b>( Select user type )</b></h3>
      <br/>
      <center>

        <form  class="form-info" method="POST" action="{% url 'register_type' %}">
            {% csrf_token %}
    
            <div class="row">
              <div class="col-sm-2"></div>
                     {% for i in list_typeUser %}
                   
                     <div class="col-sm-4">
                          <div id="box-account-type">
                              <br>
                              <br>
                    
                              <h4 style="color: #15803d;">{{i.type_name}}</h4>
                            
                    
                                      {% if i.type_name == 'ผู้ซื้อออนไลน์' %}
                                      <p style="color: #fbbf24;"><b>Customer </p>
                                          <img src="{% static "img/customer.png" %}" width="200px" height="auto" style="position: sticky;"/>
                                      {% endif %}
                                      {% if i.type_name == 'เจ้าของฟาร์ม' %}
                                      <p style="color: #fbbf24;"><b>Farmer</b></p>
                                      <img src="{% static "img/farmer.png" %}" width="200px" height="auto" style="position: sticky;"/>
                                  {% endif %}
                
                    
                               <br><br><br>

                     <button type="submit" name="accountType" class="col-10  btn btn-lg btn-block"  value= "{{i.id}}" id="account-type">เลือก</button>
                   
                      </div>
                    </div>
                   
                     {% endfor %}
                     
                     <div class="col-sm-2"></div>
          </br>
          </form>
          <br><br>  
         
        </center>
      
   </div>
   
        {% endblock %}