{% extends "TopnavUser.html" %} {% load static %} {% block content %}
<div class="container">
<div id="DetailFarmer" style="background-color: #f5f5f4;padding: 1%; width: 100%; ">
    <div class="row">
        <div class="col-sm-5" style="margin-right: 5px">
            <br></br>
                <img src=" {{farm_detail.store_logo.url}} " style="width: 50%; height: auto;"> </img>
            </div>
               
            <div class="col-sm-6" style="margin: 10px;">
                <h1 style="margin: 5%;color: #10b981; border: 2px solid;border-color:#86efac;background-color:white;">{{farm_detail.store_name}}</h1>
                    <br>
                    <p style="text-align: left;">ที่อยู่ร้านค้า : {{farm_detail.store_address}}</p>
                    <p style="text-align: left;">เบอร์โทรศัพท์ร้านค้า : {{farm_detail.store_phone}}</p>
                    <p style="text-align: left;">รายการสินค้า : {{totel_product}} รายการ</p>

                </div>
        </div>
        <div class="row" style="background-color: #f5f5f4; margin: 5px;">
            <a href="{% url 'farm-detail' id=farm_detail.id %}" class="col-sm-6 btn btn-lg btn-block " id="tab-btn"> 
                <img src="{% static "icon/farm.png" %}" style="width: 50px; height: 50px;"> </img>
            เกี่ยวกับฟาร์ม </a>

            <a href="{% url 'review_detail' id=farm_detail.id %}" class="col-sm-6 btn btn-lg btn-block" id="tab-btn"> 
                 <img src="{% static "icon/reviews.png" %}" style="width: 50px; height: 50px;"></img>
            รีวิว </a>
    </div>
</div>


<div  style="background-color: white; border-bottom-left-radius: 30px;border-bottom-right-radius: 30px;">
    <br></br>    
    <h4>รีวิวฟาร์ม</h4>
    <br><br>

<div class="col-sm"> 
    <center>
    <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
    </center>
    <script>
        var xValues = ["ดีมาก", "ดี", "ปานกลาง", "แย่", "แย่มาก"];
        var yValues = {{yValues|safe}};
        var barColors = ["#22c55e", "#bef264","orange","#f97316","#dc2626"];
        
        new Chart("myChart", {
          type: "bar",
          data: {
            labels: xValues,
            datasets: [{
              backgroundColor: barColors,
              data: yValues
            }]
          },
          options: {
            legend: {display: false},
            title: {
              display: true,
              text: "ความนิยมของฟาร์มจากผู้รีวิว"
            }
          }
        });
        </script>
</div>



<br><br>
    <div class="col-sm"   style="margin-left:10%;margin-right:10%;"> 
    {% for order in list_order %}
        {% for review in list_review %}
            {% if review.order_id.id == order.id %}
                {% for product in product_list %}
                    {% if order.product_id.id == product.id %}
                        <div id="review" class="tabcontent">
                            <div class="row shadow rounded border border-2 py-2 mb-4 px-2" style="background-color: white;">
                                <br>
                                <div class="d-flex justify-content-between flex-wrap date">
                                <div class="border border-3 ms-2 pt-sm-0 pt-1 ms-sm-4 px-4 border-success"><p><b>{{product.type_id.name}}</b></p></div>
                            </div>
                                    <div class="col d-flex justify-content-md-start justify-content-between">
                                            <img class="rounded productimg" src="{{review.review_image.url}}" height="150px" width="150px" style="object-fit: scale-down;" alt="Product" />
                                            <h3 class="producttext ps-4" style="margin-top: 20px;"><b>{{product.product_name}}</b><br/>x{{order.amount}}</h3>   
                                    </div>
                                    <div class="col-md-6 d-flex flex-column">
                                        <div class="d-flex justify-content-end my-1 flex-wrap">
                                            {% if review.review_rating == 1 %}
                                            <img class="rounded productimg mx-1" src="{% static "icon/starfull.png" %}" height="40px" width="40px" style="object-fit: scale-down;" alt="Product" />
                                            <img class="rounded productimg mx-1" src="{% static "icon/starempty.png" %}" height="40px" width="40px" style="object-fit: scale-down;" alt="Product" />
                                            <img class="rounded productimg mx-1" src="{% static "icon/starempty.png" %}" height="40px" width="40px" style="object-fit: scale-down;" alt="Product" />
                                            <img class="rounded productimg mx-1" src="{% static "icon/starempty.png" %}" height="40px" width="40px" style="object-fit: scale-down;" alt="Product" />
                                            <img class="rounded productimg mx-1" src="{% static "icon/starempty.png" %}" height="40px" width="40px" style="object-fit: scale-down;" alt="Product" />
                                            {% elif review.review_rating == 2 %}
                                            <img class="rounded productimg mx-1" src="{% static "icon/starfull.png" %}" height="40px" width="40px" style="object-fit: scale-down;" alt="Product" />
                                            <img class="rounded productimg mx-1" src="{% static "icon/starfull.png" %}" height="40px" width="40px" style="object-fit: scale-down;" alt="Product" />
                                            <img class="rounded productimg mx-1" src="{% static "icon/starempty.png" %}" height="40px" width="40px" style="object-fit: scale-down;" alt="Product" />
                                            <img class="rounded productimg mx-1" src="{% static "icon/starempty.png" %}" height="40px" width="40px" style="object-fit: scale-down;" alt="Product" />
                                            <img class="rounded productimg mx-1" src="{% static "icon/starempty.png" %}" height="40px" width="40px" style="object-fit: scale-down;" alt="Product" />
                                            {% elif review.review_rating == 3 %}
                                            <img class="rounded productimg mx-1" src="{% static "icon/starfull.png" %}" height="40px" width="40px" style="object-fit: scale-down;" alt="Product" />
                                            <img class="rounded productimg mx-1" src="{% static "icon/starfull.png" %}" height="40px" width="40px" style="object-fit: scale-down;" alt="Product" />
                                            <img class="rounded productimg mx-1" src="{% static "icon/starfull.png" %}" height="40px" width="40px" style="object-fit: scale-down;" alt="Product" />
                                            <img class="rounded productimg mx-1" src="{% static "icon/starempty.png" %}" height="40px" width="40px" style="object-fit: scale-down;" alt="Product" />
                                            <img class="rounded productimg mx-1" src="{% static "icon/starempty.png" %}" height="40px" width="40px" style="object-fit: scale-down;" alt="Product" />
                                            {% elif review.review_rating == 4 %}
                                            <img class="rounded productimg mx-1" src="{% static "icon/starfull.png" %}" height="40px" width="40px" style="object-fit: scale-down;" alt="Product" />
                                            <img class="rounded productimg mx-1" src="{% static "icon/starfull.png" %}" height="40px" width="40px" style="object-fit: scale-down;" alt="Product" />
                                            <img class="rounded productimg mx-1" src="{% static "icon/starfull.png" %}" height="40px" width="40px" style="object-fit: scale-down;" alt="Product" />
                                            <img class="rounded productimg mx-1" src="{% static "icon/starfull.png" %}" height="40px" width="40px" style="object-fit: scale-down;" alt="Product" />
                                            <img class="rounded productimg mx-1" src="{% static "icon/starempty.png" %}" height="40px" width="40px" style="object-fit: scale-down;" alt="Product" />
                                            {% elif review.review_rating == 5 %}
                                            <img class="rounded productimg mx-1" src="{% static "icon/starfull.png" %}" height="40px" width="40px" style="object-fit: scale-down;" alt="Product" />
                                            <img class="rounded productimg mx-1" src="{% static "icon/starfull.png" %}" height="40px" width="40px" style="object-fit: scale-down;" alt="Product" />
                                            <img class="rounded productimg mx-1" src="{% static "icon/starfull.png" %}" height="40px" width="40px" style="object-fit: scale-down;" alt="Product" />
                                            <img class="rounded productimg mx-1" src="{% static "icon/starfull.png" %}" height="40px" width="40px" style="object-fit: scale-down;" alt="Product" />
                                            <img class="rounded productimg mx-1" src="{% static "icon/starfull.png" %}" height="40px" width="40px" style="object-fit: scale-down;" alt="Product" />
                                            {% elif review.review_rating == 0 %}
                                            <img class="rounded productimg mx-1" src="{% static "icon/starempty.png" %}" height="40px" width="40px" style="object-fit: scale-down;" alt="Product" />
                                            <img class="rounded productimg mx-1" src="{% static "icon/starempty.png" %}" height="40px" width="40px" style="object-fit: scale-down;" alt="Product" />
                                            <img class="rounded productimg mx-1" src="{% static "icon/starempty.png" %}" height="40px" width="40px" style="object-fit: scale-down;" alt="Product" />
                                            <img class="rounded productimg mx-1" src="{% static "icon/starempty.png" %}" height="40px" width="40px" style="object-fit: scale-down;" alt="Product" />
                                            <img class="rounded productimg mx-1" src="{% static "icon/starempty.png" %}" height="40px" width="40px" style="object-fit: scale-down;" alt="Product" />
                                            {% endif %}
                                        </div>
                                        <br>
                                        <p class="form-control form-control-lg my-2" id="message-text">{{review.review_description}}</p>
                                        <p class="d-flex justify-content-end my-1 flex-wrap ">รีวิวโดย {{order.User_id.username}}</p>
                                    </div> 
                            </div>
                        </div>
                    {% endif %}     
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endfor %}


</div>
<br><br><br>
    </div>
<br><br><br>
</div>
        {% endblock %}