{% extends "TopNavFarmer.html" %} {% load static %} {% block content %}

<style>
  /* From cssbuttons.io by @adamgiebl */
  #btn-change-status {
    background: #a5ff93;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
  }

  #btn-change-status:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
  }

  #btn-change-status:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }

  #btn-report-this-order {
    background: #fdff97;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
  }

  #btn-report-this-order:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
  }

  #btn-report-this-order:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }

  #btn-cancel-this-order {
    background: #ff8d8d;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
  }

  #btn-cancel-this-order:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
  }

  #btn-cancel-this-order:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }
</style>

<br><br>
<div class="container" style="background-color: white; ">
<br>

<div class="row border border-indigo-600" style="margin: 2%;">
  <div class="col-lg-1"></div>
  <div class="col-lg-4">
    <br>
    <img
    src="{{product_order.product_image.url}}"
    style="width: 100%; height: auto; align-items: center; padding: 1%;"
    ></img>
    <br><br>
  </div>
  
  <div class="col-lg-1"></div>
  <div class="col-lg-5 col-12">
    <br></br>
    <div class="row">
      <div class="col">
        <h3 style="color: brown;">
          {{product_order.product_name}}
        </h3>
      </div>

      {% if product_order.type_id_id == 2  %}
                {% if product_order.select_carving == 0 %}
                <div class="col">
                    <h5 style="color:#ea580c; align-items:center; border-width:4px; border-color: #ea580c; border-style: solid; padding: 1%;">
                    จอง
                    </h5>
                </div>
                {% endif %}

            {% if product_order.select_carving == 1 %}
                <div class="col">
                <h5 style="color:#166534; align-items:center; border-width:4px; border-color: #166534; border-style: solid; padding: 1%;">
                    แกะสลัก
                </h5>
                </div>
            {% endif %}

        {% endif %}




    </div>
    <div class="row">
      <div class="col">
       <br>
        <p style="color:#1f2937; text-align: left;">ขนาด : {{product_order.product_weight}} kg</p>
        <p style="color:#1f2937; text-align: left;">เนื้อ : {{product_order.melon_color}}</p>
        <p style="color:#1f2937; text-align: left;">
          จำนวนในคลัง : {{product_order.product_amount}}
        </p>
      </div>
      <div class="col">
        <br>
        <p style="color:#1f2937; text-align: left;">
          คุณภาพ : {{product_order.date_harvest}}
        </p>
        <p style="color:#1f2937; text-align: left;">ราคา : {{product_order.product_price}} ฿</p>
        <p style="color:#1f2937; text-align: left;">
          รอบตัด : {{product_order.date_harvest}}
        </p>
      </div>
    </div>
    <div class="col">
      <p style="color:#1f2937; text-align: left;">
        รายละเอียดสินค้า : {{product_order.product_description}}
      </p>
    </div>
  </div>
  <div class="col-lg-1"></div>
  <br>
</div>
<br>


<div class="row">
<div class="col-sm-1"> </div>
<div class="col-sm-3" style="padding: 1%;">
</div>

<div class="col-sm-1"> </div>
<div class="col-sm-7">
<form method="GET" action="{% url 'order_list' id=product_order.id %}"> 
    <div class="row g-4 align-items-center" style="padding: 1%; ">
    <div class="col-sm-1"></div>

    <div class="form-group col-sm-6">
        <div class="col-sm"><label class="form-label float-start" style="text-align: left;">ค้นหาประเภทสถานะ</label></div>
        <select class="form-control" name="input_Typestate">
          <option value="">ทั้งหมด</option>
            {% for i in  type_state %}
            <option  value="{{ i.id }}" {% if input_Typestate ==  i.id  %}selected{% endif %}>{{ i.state_name }}</option>
            {% endfor %}
          </select>
      </div>
    
      <div class="form-group col-sm">
        <div class="d-grid gap-2">
            <button type="submit" id="btn-search" class="btn col-sm-10  my-2 my-sm-0 ">ค้นหา</button>
        </div>
      </div>   
  <div class="col-sm-1"></div>
</div>
</form>
</div>
</div> 


<br></br>
<center>
<div class="col-sm-10">
  <table class="table table-borderless" style="margin: 1%;">
    <thead></thead>
    <tbody> 
      <tr style="background-color: #bfdbfe; text-align: center;">
        <th>
          <br>No.#<br>
        </th>
        <th>
          <br>รายการสั่งซื้อ<br>
        </th>
      </tr>


      {% for i in order_list %}

      <tr style="background-color: #f9fafb;">
        <td><h5 id="target-number">{{forloop.counter}}</h5></td>
        <td>
          <div class="row">
            <div class="col-sm-6 col-md-6 text-left">
              <p class="text-2xl font-black  text-green-600 	">
                Username : {{i.User_id.first_name}} {{ i.User_id.last_name }}
              </p>
              <p class="text-1xl text-gray-800 ">
                จำนวน : {{i.amount}} <br></br>
                ราคาทั้งหมด : {{i.total_price|add:i.shipping_cost}} ฿ <br></br>
                เบอร์โทร : {{i.tel}} <br></br>
                อีเมล : {{i.User_id.email}} <br></br>
                ที่อยู่จัดส่ง : {{i.address}} <br></br>
              </p>

             
                  {% for c in order_carving %}
                      {% if c.order_id_id == i.id %}
                        <p>รายละเอียด : {{c.carving_description}}</p>
                            <img 
                              src="{{c.image.url}}"
                              id="img-order-carving"
                            ></img>
                          <br>
                      {% endif %}
                   {% endfor %}
           
              <br></br>
            </div>
            <div class="col-sm-2 col-md-6">
              <h5 style="font-weight: bold; border-radius: 100px; background-color: #bbf7d0; text-align: center; padding: 2%;">
                {{i.State_id.state_name}}
              </h5>
            </div>
          </div>

          <div class="row">
          <div class="col-sm-3 col-md-6">
                        <br></br>
            {% if i.State_id.id == 1 %}
              <p
                href=""
                style="display:inline-block;"
              >
                หลักฐานการโอนเงิน
              </p>
              <img
              src="{% static "icon/load.png" %}"
              width="30px"
              height="30px"
              style="padding: 5px; display:inline-block; margin: 5px; align-items: center;"
              ></img>
           
            {% elif i.State_id.id == 2 %}
                       
              <a style="color: #991b1b; display:inline-block;"
                href="{% url 'payment_order' id=i.id %}"
              >
                หลักฐานการโอนเงิน
              </a>
              <img
                src="{% static "icon/load.png" %}"
                width="30px"
                height="30px"
                style="padding: 5px; display:inline-block; margin: 5px; align-items: center;"
              ></img>
              <br><br>

              <a
              class="col-sm-6 btn btn-outline-info "
              href="{% url 'chatroom' id=i.id %}"
              >
              <img
              src="{% static "icon/bubble-chat.png" %}"
              width="30px"
              height="30px"
              style="display:inline-block;"
            />
              
              การสนทนา</a>

            {% elif i.State_id.id == 3 %}

            <a style="color: #991b1b; display:inline-block;"
            href="{% url 'payment_order' id=i.id %}"
            >
              หลักฐานการโอนเงิน
            </a>
            <img
              src="{% static "icon/check.png" %}"
              width="30px"
              height="30px"
              id="payment-check"
            ></img>

             <br><br>
              <a
              class="col-sm-6 btn btn-outline-dark" 
              href="{% url 'orderPdf' id=product_order.id %}"
              >
              <img
              src="{% static "icon/print.png" %}"
              width="30px"
              height="30px"
              style="display:inline-block;"
            />
              พิมพ์ใบจัดส่ง</a>
             
           
              <a
              class="col-sm-6 btn btn-outline-info "
              href="{% url 'chatroom' id=i.id %}"
              >
              <img
              src="{% static "icon/bubble-chat.png" %}"
              width="30px"
              height="30px"
              style="display:inline-block;"
            />
              
              การสนทนา</a>

            {% endif %}
            </div>
            <div class="col">


              {% if i.State_id.id == 2 %}

              <a data-bs-toggle="modal" data-bs-target="#check-payment-{{i.id}}" class="col-12 btn btn-warning btn-lg btn-block mb-1" id="btn-change-status" style="color: black;">
                <img src="{% static "icon/payment2.png" %}" width="30px" height="30px" style="display:inline-block;" />
                ตรวจสอบเรียบร้อย
              </a>

              {% elif i.State_id.id == 3 %}
              <a data-bs-toggle="modal" data-bs-target="#portage-{{i.id}}" class="col-12 btn btn-warning btn-lg btn-block mb-1" id="btn-change-status" href="" style="color: black;">
                <img src="{% static "icon/box.png" %}" width="30px" height="30px" style="display:inline-block;" />
                แจ้งเลขพัสดุ
              </a>
              {% endif %}

              {% if product_order.select_carving == 1 or product_order.type_id_id == 2  and i.State_id.id == 3 %}
              <a href="{% url 'report_order' id=i.id %}"  class="col-12 btn btn-warning btn-lg btn-block mb-1" id="btn-report-this-order" style="color: black;">
                <img src="{% static "icon/input.png" %}" width="30px" height="30px" style="display:inline-block;" />
                รายงานผลผลิต
              </a>
              {% endif %}

              {% if i.State_id.id == 1 or  i.State_id.id == 2 or  i.State_id.id == 3 %}
              <a data-bs-toggle="modal" data-bs-target="#orderCancel-{{i.id}}"  class="col-12 btn btn-secondary btn-lg btn-block mb-1" id="btn-cancel-this-order" href="" style="color: black;">
                <img src="{% static "icon/cancel.png" %}" width="30px" height="30px" style="display:inline-block;" />
                ยกเลิกคำสั่งซื้อ
              </a>
              {% endif %}

              <br><br>
              <p class="float-end" style="padding: 1%;">สั่งเมื่อ : {{i.date_time}}</p>
            </div>
          </div>
          <hr>
        </td>
     
      </tr>

      {% endfor %}
    
    </tbody>
  </table>
</div>
</center>

<br></br>  <br></br>
</div>
<br><br> <br><br>




<!-- Check-Payment -->
{% for i in order_list %}
<div class="modal fade" id="check-payment-{{i.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">การตรวจสอบ</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        คุณแน่ใจหรือไม่ว่าตรวจสอบเรียบร้อย
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
        <a type="button" class="btn btn-danger" href="{% url 'check_payment' id=i.id %}">ยืนยัน</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<!-- orderCancel -->

{% for i in order_list %}
<div class="modal fade" id="orderCancel-{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="model-formLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">ยกเลิกคำสั่งซื้อ OrderID#..</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
           <form  method="POST" enctype="multipart/form-data" action="{% url 'farmer_cancel' id=i.id %}">
                      {% csrf_token %}
          <div class="modal-body">
              <div class="form-group">
                  <label class="form-label float-start">สาเหตุที่ต้องการยกเลิก</label>
                  <textarea  class="form-control" name="cancel_description" rows="5" maxlength="255" required></textarea>
                </div>
               <br>
                <div class="form-group">
                  <label class="form-label float-start">ช่องทางติดต่อคืนเงิน</label>
                  <textarea  class="form-control" name="refund_contact" rows="3" maxlength="255" required></textarea>                </div> 
              <br>
                <div class="form-group">
                  <label class="form-label float-start">แมลงที่เกี่ยวข้อง</label>
                  <select class="form-control" name="bug_id">
                     
                      {% for i in  bug %}
                      <option  value="{{ i.id }}" {% if quality_id ==  i.id  %}selected{% endif %}>{{ i.bug_name }}</option>
                      {% endfor %}
                    </select>
              </div>
              <br>
              <div class="form-group">
                <label class="form-label float-start">โรคที่เกี่ยวข้อง</label>
                <select class="form-control" name="disease_id">
                   
                    {% for i in  disease %}
                    <option  value="{{ i.id }}" {% if quality_id ==  i.id  %}selected{% endif %}>{{ i.disease_name }}</option>
                    {% endfor %}
                  </select>
            </div><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
        <button type="submit" class="btn btn-danger">แจ้ง</button>
      </div>
    </form>

    </div>
  </div>
</div>
{% endfor %}
<!-- orderCancel -->


<!-- Portage -->
{% for i in order_list %}
<div class="modal fade" id="portage-{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="model-formLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">แจ้งเลขพัสดุ OrderID# {{i.id}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
           <form  method="POST" enctype="multipart/form-data" action="{% url 'send_portage' id=i.id %}">
                      {% csrf_token %}
          <div class="modal-body">
                 

              <div class="form-group">
                  <label class="form-label float-start">หมายเลขพัสดุ</label>
                  <input type="text" maxlength="18" class="form-control" name="portage_number" required></textarea>
                </div>
               <br>
                <div class="form-group">
                  <label class="form-label float-start">ชื่อขนส่ง</label>
                  <select class="form-control" name="portage_name">
                    <option selected value="ไปรษณีย์ไทย">ไปรษณีย์ไทย</option>
                    <option value="KERRY EXPRESS">KERRY EXPRESS</option>
                    <option value="BEST EXPRESS">BEST EXPRESS</option>
                    <option value="NINJA VAN">NINJA VAN</option>
                    <option value="J&T EXPRESS">J&T EXPRESS</option>
                    <option value="FLASH EXPRESS">FLASH EXPRESS</option>
                    <option value="SCG EXPRESS">SCG EXPRESS</option>
                    <option value="DHL EXPRESS">DHL EXPRESS</option>
                    <option value="LALAMOVE">LALAMOVE</option>
                    <option value="DELIVEREE">DELIVEREE</option>
                    <option value="ฟาร์มส่งสินค้าเอง">ฟาร์มส่งสินค้าเอง</option>
                    </select>
              </div>
              <br>
         
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
        <button type="submit" class="btn btn-success">แจ้ง</button>
      </div>
 </form>
    </div>
  </div>
</div>
{% endfor %}
<!-- Portage -->











{% endblock %}