{% extends "TopNavFarmer.html" %} {% load static %} {% load mathfilters %}{% block content %}

<div class="container">
<br></br>
<div  style="background-color: white; padding: 1%; border-radius: 30px;">
    <br> 
        <div class="row">
            <div class="col-sm-5">
                    <img
                    src="{{payment.payment_image.url}}"
                    width="80%" height="auto"
                    ></img>
            </div>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-5">
                <br>
                    <h1>Order#. {{order.id}}</h1>
                        <hr>

                    <table class="table table-bordered">
                        <thead>

                            <tr>
                                <th scope="col"><br>ชื่อ<br></th>
                                <th scope="col"><br>{{order.User_id.first_name}} {{order.User_id.last_name}}<br></th>
                              </tr>
                            <tr>
                              <th scope="col"><br>ชำระผ่านธนาคาร<br></th>
                              <th scope="col"><br>{{payment.bank_name}}<br></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <th scope="col"><br>จำนวนเงินที่ต้องจ่าย<br></th>
                                <th scope="col"><br>{{order.total_price|add:order.shipping_cost}} ฿<br></th>
                            </tr>

                    </table>
            </div>
            <div class="col-sm-1">
        </div>
        </div>

<br><br>
</div>
</div>

<br><br> <br><br>
{% endblock %}