@font-face {
  font-family: "THSarabunNew";
  src: url('/static/fonts/THSarabunNew.ttf');
  /* src: url({% static 'fonts/THSarabunNew.ttf' %}); */
}

h1 {
  text-align: center;
}
td, th {
  text-align: center;
}
body {
  font-family: "THSarabunNew";
  font-weight: 200;
  font-size: 16px;
  
    }
p{
  font-family: "THSarabunNew";
}