#btn-create-store {
  background-color: #34d399;
  color: white;
  border-width: 5px;
  border-radius: 100%;
}

#btn-create-store:hover {
  background-color: #fcd34d;
}


@media only screen and (max-width: 700px) {
  .map-responsive {
    width: 100%;
    height: 100%;
  }
}

