#btn-create-store {
  background-color: #34d399;
  color: white;
  border-width: 5px;
  border-radius: 100%;
}

#btn-create-store:hover {
  background-color: #fcd34d;
}

#btn-search {
  flex: 1 1 auto;
  margin: 5px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
 }

#btn-search:hover {
  background-position: right center; /* change the direction of the change here */
}

a{
  text-decoration-line: none;
}

#btn-new-product {
  flex: 1 1 auto;
  margin: 5px;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  background-image: linear-gradient(to right, #ff990a 0%, #f0e737 60%, #fffac8 100%);
 }

#btn-new-product:hover {
  background-position: right center;
  color: black;
}

@media only screen and (max-width: 700px) {
  .map-responsive {
    width: 100%;
    height: 100%;
  }
}

