.head {
    font-weight: 900;
    font-size: 20px;
    color: #00460f;
  }
  
  
  .price {
    color: rgb(150, 0, 0);
    font-weight: 900;
    font-size: large;
  }
  
  .quant {
    color: #005e14;
    font-weight: 900;
  }
  
  .main-section {
    height: auto;
    background-color: #ffffff;
  }
  
  .text{
      font-size: 30px;
      font-weight: 900;
      color: #005e14;
  }
  .section1, .top .text{
    display: block;
    margin: auto;
  }

  * { box-sizing: border-box; }
  .carousel {
    background: #d1fae5;
    display: block;
    margin: auto;
  }
  
  .carousel-cell {
    width: 90%;
    height: 500px;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
    counter-increment: gallery-cell;
  }
  
  /* cell number */
  .carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    /* line-height: 200px; */
    /* font-size: 80px; */
    color: white;
  }
  