.head {
    font-weight: 900;
    font-size: 20px;
    color: #00460f;
  }
  
  .btn {
    background-color: #ff7373;
  }
  
  .price {
    color: rgb(150, 0, 0);
    font-weight: 900;
    font-size: large;
  }
  
  .quant {
    color: #005e14;
    font-weight: 900;
  }
  
  .main-section {
    height: auto;
    background-color: #ffffff;
  }
  
  .text{
      font-size: 30px;
      font-weight: 900;
      color: #005e14;
  }
  .section1, .top .text{
    display: block;
    margin: auto;
  }
