.head {
    font-weight: 900;
    font-size: 20px;
    color: #00460f;
  }
  
  
  .price {
    color: rgb(150, 0, 0);
    font-weight: 900;
    font-size: large;
  }
  
  .quant {
    color: #005e14;
    font-weight: 900;
  }
  
  .main-section {
    height: auto;
    background-color: #ffffff;
  }
  
  .text{
      font-size: 30px;
      font-weight: 900;
      color: #005e14;
  }
  .section1, .top .text{
    display: block;
    margin: auto;
  }


#loginform{
      display: flex;
      padding: 5%;
      padding-left: 8%;
      padding-right: 4%;
      background-color: white;
      border-radius: 10%;
      margin: 10px;
}

#box-account-type{
      background-color: white; 
      border-radius: 20px; 
      height:500px; 
      margin: 5%;
}

#account-type {
      background-color: #34D399;
      color: white; 
      padding: 5%;
}

