
<!DOCTYPE html>
<head>
    <!-- <meta charset="UTF-8"> -->
    <meta http-equiv="Content-Language" content="th">
    <meta http-equiv="Content-Type" content="text/html; charset=windows-874">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Invoice Id.#4</title>
    <style type='text/css'>
        h1 {
          text-align: center;
        }
        td, th {
          text-align: center;
        }
        @font-face {
            font-family: 'Kanit', sans-serif;
            src: url(/static/fonts/Kodchasan-Medium.ttf)
            }

            body {
              
                font-family: 'Kanit', sans-serif;
            }
      
      </style>
</head>
<body>
    
      <h1>Invoice Id.#4</h1>
    

      <table  class="table table-bordered">
       
          <tr>
            
            <td>Bill to: Msrd Sirilada</td>
            <td>คุนามิ</td>
            <td>5</td>
          </tr>

      </table>
      <hr>
     
</body>
</html>