
<!DOCTYPE html>
<head>
    <!-- <meta charset="UTF-8"> -->
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap" rel="stylesheet">    
    <meta http-equiv="Content-Language" content="th">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <!-- font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">


    <title>Invoice Id.#3</title>


</head> 


<style type='text/css'>
        @font-face {
          font-family: myFont;
          src: url(/static/fonts/KodchasanMedium.ttf)
        }

        h1 {
          text-align: center;
        }

        td, th {
          text-align: center;
        }
        body {
          font-family: myFont;
          text-align: left;
          font-size: 16px;
          
            }
        p{
          font-family: myFont;
        }
  

      </style>
<body>

      <script type="text/javascript">
        function generateBarCode()
        {
            var nric = $('#text').val();
            var url = 'https://api.qrserver.com/v1/create-qr-code/?data=' + nric + '&amp;size=50x50';
            $('#barcode').attr('src', url);
        }
    </script>


<div class="container"> 
  <div class="col-sm"> 
    <center>
      <img src="C:\Users\ADVICE_003\Documents\GitHub\django_melon\media\store_logo\delivery-truck.png " height="100px"></img>
      <h2>ploy</h2>
      <h1>Invoice Id.#3</h1>
    </center>
      <table>
       
        <tr>
          <th>Create Date:</th>
          <th></th>
          <th>
            <p>Feb. 24, 2022</p>
           </th>
        </tr>

        <tr>
          <th>Bill to:</th>
          <th></th>
          <th>
            <p>PANUTDA ANAN</p>
           </th>
        </tr>

          <tr>
            <td>ชื่อสินค้า</td>
            <td></td>
            <td>มาชิตะ อาโหร่ย</td>
          </tr>
      </table>
      <hr>
</div>

<div> 
  <table style="background-color: #f5f5f4; border: 1px; border-style: solid; border-color: #2dd4bf;padding:10%;">
    <tr style="background-color: #2dd4bf; color: white;">
      <th><br>List Order</th>
      <th><br>Amoung</th>
    </tr>
    <tr> 
      <td><br>Melon x 1</td>
      <td><br>250 ฿</td>
    </tr>
    
    <tr> 
        <td><br>Shipping cost x 1</td>
        <td><br>45 ฿</td>
      </tr>
    <tr style="background-color: #2dd4bf;">
      <td><br><b style="color:#b90000; text-align: start;">Total</b></td>
      <td><br>1</td>
    </tr>

</table>
</div>





<br><br><br>
      <div> 
        <p>Thank you!</p>
         <p>Scane QR Code to visit farm</p>
           
          <img id='barcodeFarm' 
          src="https://api.qrserver.com/v1/create-qr-code/?data=http://127.0.0.1:8080/farm-detail/1/&amp;size=100x100" 
          alt="" 
          width="100" 
          height="100" />
        
    
<br><br><br>
<hr>
<center>
<p>ploy</p>
<p>ที่อยู่ร้านค้า : 26/12</p>  
<p>เบอร์โทรศัพท์ร้านค้า : 0000000000</p>  
</center>
</div>
</div>
</body>
</html>