{% extends "TopNavFarmer.html" %} {% load static %} {% block content %}


<br><br>

        <div class="container" style="background-color: white;">
            <br></br>
                    <h4>เพิ่มรายการสินค้าใหม่</h4>
                <hr>
                <br>  
             <div class="col-sm">

                <br></br> <br></br>  <br></br>  <br></br>  <br></br>  <br></br>  <br></br>  <br></br>  <br></br>  <br></br>

            </div> 
            


        </div>

<br><br> <br><br>
{% endblock %}