{% extends "TopNavFarmer.html" %} {% load static %} {% block content %}

<br><br>
<div class="container">
<br></br>


<div  style="background-color: white; border-radius: 30px;">
<br></br>    
<h4>ที่ตั้งฟาร์ม</h4>
<hr>
<br></br>
<div class="row">
<div class="col-sm-1"></div>
<div class="col">

    <div class="map-responsive">
    <iframe src="https://maps.google.com/maps?q={{latitude}}, {{longitude}}&z=15&output=embed"  width="100%" height="445" frameborder="0" style="border:0"></iframe>
    </div>




</div>
<div class="col-sm-1"></div>
</div>
<br></br>
<h4>เกี่ยวกับฟาร์ม</h4>
<hr>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-5 " style="margin-right: 10px">
        <img
        src=" {{myStore.store_img.url}} "

        style="width: 100%; height: auto;">
        </img>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-4" style="margin-right: 10px">
        <br></br>
       <p>" {{myStore.store_description}} "</p>
    </div>
    <div class="col-sm-1"></div>

</div>
</br><br></br>
</div>


</div>

<br><br> <br><br>
{% endblock %}