{% extends "TopNavFarmer.html" %} {% load static %} {% block content %}

<style>

    .badge {
      position: absolute;
      left: 0;
      top: 20px;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 700;
      /* background: red; */
      color: #fff;
      padding: 3px 10px;
  }
  </style>


<br><br>

        <div class="container" style="background-color: white;border-radius: 30px;">
            <br></br>
                    <h4>คำสั่งซื้อในฟาร์ม</h4>
                <hr>
                <br>  

                <div class="row">
                    <div class="col-sm-1"> </div>
                    <div class="col-sm-3" style="padding: 1%;">
  
                        <small  class="form-text text-muted">เลือกสินค้าที่ต้องการดูรายการคำสั่งซื้อ</small>
                    
                    
                    </div>
                    

                <div class="col-sm-1"> </div>
                <div class="col-sm-7">
                <form method="GET" action="{% url 'order_farm'%}"> 
                    <div class="row g-4 align-items-center" style="padding: 1%; ">
                    <div class="col-sm-1"></div>
                    <div class="form-group col-sm-4">
                      <div class="col-sm"><label class="form-label float-start">ค้นหาสินค้า</label></div>
                      <input type="text" class="form-control  ml-3" id="inputSearch" name="inputSearch" placeholder="ใส่ชื่อสินค้า" value="{{search_txt}}">
                    </div>

                    <div class="form-group col-sm-3">
                        <div class="col-sm"><label class="form-label float-start" style="text-align: left;">ค้นหาประเภทสินค้า</label></div>
                        <select class="form-control" name="input_Typeproduct">
                            <option value="">ทั้งหมด</option>
                            {% for i in  type_product %}
                            <option  value="{{ i.id }}" {% if input_Typeproduct ==  i.id  %}selected{% endif %}>{{ i.name }}</option>
                            {% endfor %}
                          </select>
                      </div>
                    
                      <div class="form-group col-sm">
                        <div class="d-grid gap-2">
                            <button type="submit" id="btn-search" class="btn col-sm-10  my-2 my-sm-0 ">ค้นหา</button>
                        </div>
                      </div>   
                  <div class="col-sm-1"></div>
                </div>
            </form>
        </div>
    </div> 

        

                <br></br>
            <center>
                <div class="col-sm-10">
                <section class="section1 w-80 px-5 bg-light rounded mt-1" id="cards">
                    <div class="container card-styles">
                        <div class="row">

                            {% for pd in object_list %}
                            {% if pd.id not in outofstock %}
                              <div class="col-lg-4 col-sm-6 col-xl-3 py-3">
                                  <div class="card shadow bg-white rounded">
                                      <div class="card-body pb-2 px-6" >
                                        {% if pd.type_id_id == 1 %}
                                        <div class="badge" style="background-color: green;">พร้อมส่ง</div>
                                        {% elif pd.type_id_id == 2 and pd.select_carving == 1 %}
                                        <div class="badge" style="background-color: red;">แกะลาย</div>
                                        {% elif pd.type_id_id == 2 and pd.select_carving == 0 %}
                                        <div class="badge" style="background-color: #f97316;">จอง</div>
                                        {% endif %}
                                          <img class="rounded" src=" {{pd.product_image.url}} " height="180px" width="180px" style="object-fit: scale-down;"  alt="Product" />
                                          <div class="py-2 head">{{pd.product_name}}</div>
                                          <div class="d-flex justify-content-between align-content-center">
  
                                              {% if pd.product_amount <= 10 and pd.product_amount > 0 %}
                                              <div class="card-text pb-2 price">{{pd.product_price}} บาท</div>
                                              <div class="card-text quant" style="color:#f97316">{{pd.product_amount}} ชิ้น</div>
                                              {% elif pd.product_amount > 10 %}
                                              <div class="card-text pb-2 price">{{pd.product_price}} บาท</div>
                                              <div class="card-text quant" style="color:#166534">{{pd.product_amount}} ชิ้น</div>
                                              {% endif %}
  
                                          </div>
                                          <a href="{% url 'order_list' id=pd.id %}" id="btn-order" class="btn mb-2 mt-2 w-100">ดูรายการสั่งซื้อ</a>
                                         
                                      </div>
                                  </div>
                              </div>
                              {% endif %}
                              {% endfor %}
                              {% for pd in object_list %}
                              {% if pd.id in outofstock %}
                                <div class="col-lg-4 col-sm-6 col-xl-3 py-3">
                                    <div class="card shadow bg-white rounded">
                                        <div class="card-body pb-2 px-6" >
                                            <img class="rounded" src=" {{pd.product_image.url}} " height="180px" width="180px" style="object-fit: scale-down;"  alt="Product" />
                                            <div class="py-2 head">{{pd.product_name}}</div>
                                            <div class="d-flex justify-content-between align-content-center">
                                        
                                              <div class="card-text pb-2 price">{{pd.product_price}} บาท</div>
                                              <h5 style="color:brown; font-size: 15px; align-items:center; border-width:2px; border-color: brown; border-style: solid; padding: 1%;">
                                                Out of stock
                                                </h5>
                                            
                                            </div>
                                            <a href="{% url 'order_list' id=pd.id %}" id="btn-order" class="btn mb-2 mt-2 w-100">ดูรายการสั่งซื้อ</a>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                           
                            
                     
                            
                        </div>
                    </div>
                </section>
            </div>
        </center>

           <br></br>  <br></br>

            
            


        </div>

<br><br> <br><br>
{% endblock %}