{% extends "TopNavFarmer.html" %} {% load static %} {% block content %}
<br><br>

        <div class="container" style="background-color: white;border-radius: 30px;">
            <br></br>
                    <h4>รายการสินค้าในฟาร์ม</h4>
                <hr>
                <br>  

                <div class="row">
                    <div class="col-sm-1"> </div>
                <div class="col-sm-3" style="padding: 1%;">
                  
                <a id="btn-new-product" href="{% url 'create_product'%}" class="btn btn-lg btn-block" >
                    <img src="{% static "icon/new.png" %}" width="60px" height="60px"
                    class="d-inline-block align-top">
                    เพิ่มสินค้าใหม่</a>      
               
                </div>

                <div class="col-sm-1"> </div>
                <div class="col-sm-7">
                <form method="GET" action="{% url 'product_store'%}"> 
                    <div class="row g-4 align-items-center" style="padding: 1%; ">
                    <div class="col-sm-1"></div>
                    <div class="form-group col-sm-4">
                      <div class="col-sm"><label class="form-label float-start">ค้นหาสินค้า</label></div>
                      <input type="text" class="form-control  ml-3" id="inputSearch" name="inputSearch" placeholder="ใส่ชื่อสินค้า" value="{{search_txt}}">
                    </div>

                    <div class="form-group col-sm-3">
                        <div class="col-sm"><label class="form-label float-start" style="text-align: left;">ค้นหาประเภทสินค้า</label></div>
                        <select class="form-control" name="input_Typeproduct">
                            <option value="">ทั้งหมด</option>
                            {% for i in  type_product %}
                            <option  value="{{ i.id }}" {% if input_Typeproduct ==  i.id  %}selected{% endif %}>{{ i.name }}</option>
                            {% endfor %}
                          </select>
                      </div>
                    
                      <div class="form-group col-sm">
                        <div class="d-grid gap-2">
                            <button type="submit" id="btn-search" class="btn col-sm-10  my-2 my-sm-0 ">ค้นหา</button>
                        </div>
                      </div>   
                  <div class="col-sm-1"></div>
                </div>
            </form>
        </div>
    </div> 

        

                <br></br>
            <center>
                <div class="col-sm-10">
                <section class="section1 w-80 px-5 bg-light rounded mt-1" id="cards">
                    <div class="container card-styles">
                        <div class="row">

                        {% for pd in object_list %}
                          
                            <div class="col-lg-4 col-sm-6 col-xl-3 py-3">
                                <div class="card shadow bg-white rounded">
                                    <div class="card-body pb-2 px-6" >
                                        <img class="rounded" src=" {{pd.product_image.url}} " height="180px" width="180px" style="object-fit: scale-down;"  alt="Product" />
                                        <div class="py-2 head">{{pd.product_name}}</div>
                                        <div class="d-flex justify-content-between align-content-center">
                                            <div class="card-text pb-2 price">{{pd.product_price}} บาท</div>
                                            <div class="card-text quant">{{pd.product_amount}} ชิ้น</div>
                                        </div>
                                        <a href="{% url 'product_description' id=pd.id %}" id="btn-description" class="btn mb-2 mt-2 w-100">รายละเอียด</a>
                                       
                                    </div>
                                </div>
                            </div>

                            {% endfor %}
                           
                            
                     
                            
                        </div>
                    </div>
                </section>
            </div>
        </center>

           <br></br>  <br></br>

            
            


        </div>

<br><br> <br><br>
{% endblock %}