{% extends "TopNavFarmer.html" %} {% load static %} {% block content %}


<div class="container">
<br></br>
<div  style="background-color: white; border-radius: 30px;">
<br></br>    
<h4>รีวิวฟาร์ม</h4>
<br><br>

<div class="col-sm"  style="margin-left:10%;margin-right:10%;"> 

    <div id="review" class="tabcontent">
        <div class="row shadow rounded border border-2 py-2 mb-4 px-2" style="background-color: white;">
            <br>
            <div class="d-flex justify-content-between flex-wrap date">
            <div class="border border-3 ms-2 pt-sm-0 pt-1 ms-sm-4 px-4 border-success"><p><b>สั่งจอง</b></p></div>
        </div>
                <div class="col d-flex justify-content-md-start justify-content-between">
                        <img class="rounded productimg" src="{% static "img/review.jpg" %}" height="150px" width="150px" style="object-fit: scale-down;" alt="Product" />
                        <h3 class="producttext ps-4" style="margin-top: 20px;"><b>คิโมจิ</b><br/>x1</h3>   
                </div>
                <div class="col-md-6 d-flex flex-column">
                    <div class="d-flex justify-content-end my-1 flex-wrap">
                        <img class="rounded productimg mx-1" src="{% static "icon/starreview.png" %}" height="40px" width="40px" style="object-fit: scale-down;" alt="Product" />
                        <img class="rounded productimg mx-1" src="{% static "icon/starreview.png" %}" height="40px" width="40px" style="object-fit: scale-down;" alt="Product" />
                        <img class="rounded productimg mx-1" src="{% static "icon/starreview.png" %}" height="40px" width="40px" style="object-fit: scale-down;" alt="Product" />
                        <img class="rounded productimg mx-1" src="{% static "icon/starreview.png" %}" height="40px" width="40px" style="object-fit: scale-down;" alt="Product" />
                        <img class="rounded productimg mx-1" src="{% static "icon/starreview.png" %}" height="40px" width="40px" style="object-fit: scale-down;" alt="Product" />
                    </div>
                    <br>
                    <p class="form-control form-control-lg my-2" id="message-text">ดีมากกกกกกกกกกกกกกกกกกกกกกกก</p>
                    <p class="d-flex justify-content-end my-1 flex-wrap ">รีวิวโดย K. sir*****</p>
                </div> 
        </div>
    </div>

    <div id="review" class="tabcontent">
        <div class="row shadow rounded border border-2 py-2 mb-4 px-2" style="background-color: white;">
            <br>
            <div class="d-flex justify-content-between flex-wrap date">
            <div class="border border-3 ms-2 pt-sm-0 pt-1 ms-sm-4 px-4 border-success"><p><b>สั่งจอง</b></p></div>
        </div>
                <div class="col d-flex justify-content-md-start justify-content-between">
                        <img class="rounded productimg" src="{% static "img/review.jpg" %}" height="150px" width="150px" style="object-fit: scale-down;" alt="Product" />
                        <h3 class="producttext ps-4" style="margin-top: 20px;"><b>คิโมจิ</b><br/>x1</h3>   
                </div>
                <div class="col-md-6 d-flex flex-column">
                    <div class="d-flex justify-content-end my-1 flex-wrap">
                        <img class="rounded productimg mx-1" src="{% static "icon/starreview.png" %}" height="40px" width="40px" style="object-fit: scale-down;" alt="Product" />
                        <img class="rounded productimg mx-1" src="{% static "icon/starreview.png" %}" height="40px" width="40px" style="object-fit: scale-down;" alt="Product" />
                        <img class="rounded productimg mx-1" src="{% static "icon/starreview.png" %}" height="40px" width="40px" style="object-fit: scale-down;" alt="Product" />
                        <img class="rounded productimg mx-1" src="{% static "icon/starreview.png" %}" height="40px" width="40px" style="object-fit: scale-down;" alt="Product" />
                        <img class="rounded productimg mx-1" src="{% static "icon/starreview.png" %}" height="40px" width="40px" style="object-fit: scale-down;" alt="Product" />
                    </div>
                    <br>
                    <p class="form-control form-control-lg my-2" id="message-text">ดีมากกกกกกกกกกกกกกกกกกกกกกกก</p>
                    <p class="d-flex justify-content-end my-1 flex-wrap ">รีวิวโดย K. sir*****</p>
                </div> 
        </div>
    </div>



    <div id="review" class="tabcontent">
        <div class="row shadow rounded border border-2 py-2 mb-4 px-2" style="background-color: white;">
            <br>
            <div class="d-flex justify-content-between flex-wrap date">
            <div class="border border-3 ms-2 pt-sm-0 pt-1 ms-sm-4 px-4 border-success"><p><b>สั่งจอง</b></p></div>
        </div>
                <div class="col d-flex justify-content-md-start justify-content-between">
                        <img class="rounded productimg" src="{% static "img/review.jpg" %}" height="150px" width="150px" style="object-fit: scale-down;" alt="Product" />
                        <h3 class="producttext ps-4" style="margin-top: 20px;"><b>คิโมจิ</b><br/>x1</h3>   
                </div>
                <div class="col-md-6 d-flex flex-column">
                    <div class="d-flex justify-content-end my-1 flex-wrap">
                        <img class="rounded productimg mx-1" src="{% static "icon/starreview.png" %}" height="40px" width="40px" style="object-fit: scale-down;" alt="Product" />
                        <img class="rounded productimg mx-1" src="{% static "icon/starreview.png" %}" height="40px" width="40px" style="object-fit: scale-down;" alt="Product" />
                        <img class="rounded productimg mx-1" src="{% static "icon/starreview.png" %}" height="40px" width="40px" style="object-fit: scale-down;" alt="Product" />
                        <img class="rounded productimg mx-1" src="{% static "icon/starreview.png" %}" height="40px" width="40px" style="object-fit: scale-down;" alt="Product" />
                        <img class="rounded productimg mx-1" src="{% static "icon/starreview.png" %}" height="40px" width="40px" style="object-fit: scale-down;" alt="Product" />
                    </div>
                    <br>
                    <p class="form-control form-control-lg my-2" id="message-text">ดีมากกกกกกกกกกกกกกกกกกกกกกกก</p>
                    <p class="d-flex justify-content-end my-1 flex-wrap ">รีวิวโดย K. sir*****</p>
                </div> 
        </div>
    </div>


</div>
<br><br><br>















</br><br></br>
</div>
</div>

<br><br> <br><br>
{% endblock %}